[2017-07-26 20:08] pmac opened #2899 "Switch user media to s3 + CDN"
Uploaded media needs to go somewhere external to the servers in AWS. S3 is good for this with a CDN (probably CloudFront) in front.

[2017-07-26 20:09] pmac opened #2900 "Use AWS SES to send email"
This will help consolidate billing and monitoring, as well as potentially help address or debug some email issues we've seen in the past.

[2017-07-29 16:51] jwhitlock commented on #2899
We have a similar requirement on Kuma.  I've configured upload to S3 years ago, but we decided to go w/ EFS for the first version (https://github.com/mozmeao/infra/issues/183) for speed of migration.

My dream version is a stand-alone service that takes uploads, performs type detection and security checks, and processes them into display-specific forms (for example shrinking PNG, scaling in-conten

[2017-07-31 12:13] glogiotatidis opened #2901 "Re-enable smoke-tests"

[2017-07-31 12:14] glogiotatidis opened #2902 "Install bugzilla intergration to GitHub"

[2017-07-31 12:30] glogiotatidis opened #2903 "Fix readthedocs builds"

[2017-08-05 18:38] orschiro opened #2906 "Cannot go back to question from email notification"
From the below email there is no way to go back to the original question without marking the question as solved or indicating that it doesn't solve the problem.

![image](https://user-images.githubusercontent.com/170947/28997804-e1146c40-7a1d-11e7-8618-20181b1a3728.png)

[2017-08-06 06:22] MikkCZ commented on #2906
This link "This doesn't solve my problem" actually just opens the answer on the SUMO page. If this is confusing, we can use a more clear formulation.

@glogiotatidis should we track this here or in Bugzilla? To be honest I do not know why the issues are open here at all.

[2017-08-06 07:25] orschiro commented on #2906
Yes, please use something like "View question in the browser".

[2017-08-11 22:36] turtleloveshoes opened #2908 "[Bug 1386808] Closing Army of Awesome and Removing References"
Per this community decision to start the Social Support Program, https://support.mozilla.org/en-US/forums/social-media/712414?last=71489 and https://support.mozilla.org/en-US/forums/social-media/712299?last=70945, AoA is closing :(

However a new program with new materials will be replacing it. See issue [Bug 1385135]
https://support.mozilla.org/en-US/forums/social-media/712533?last=72211

[2017-08-11 23:59] turtlelovesshoes opened #2909 "[Bug 1385135] Adding new material to and links for the Social Support Program"
Page for get-involved would look like:
Help people on twitter and Facebook

Step 1: Link to Guidelines
Step 2: Sign up process - sumo account -> redirect to form created (keeping the twitter account and sumo account from army of awesome is ideal here)
Step 3: Link to Training article (includes tweetdeck, filters, contact info and moderators)

Links on other pages would remain the same
Dashboards w

[2017-08-12 00:23] fitojb commented on #2908
I think you meant to open a pull request instead of an issue? There’s no point on opening issues here, especially if they are already at Bugzilla, which is the canonical issue tracker.

[2017-09-15 20:24] bensternthal opened #2915 "[Placeholder] Update Header and Footer To Reflect New Mozilla Branding"
Prior to a full re-design and ideally before FF 57 the header and footer should be updated with the latest and greatest mozilla branding.

[2017-09-15 20:27] bensternthal opened #2916 "[Bug 1386808] Shutdown Army of Awesome"
Tracking the shutdown of Army of Awesome.

https://bugzilla.mozilla.org/show_bug.cgi?id=1386808

[2017-09-15 21:06] bensternthal opened #2917 "[Placeholder] Add new Social Program On-Board"
I do not know what this is yet.. will fill in details / bug from Patrick once we have it.

[2017-10-06 11:56] NicSil opened #2925 "Buggy Filters when upgrading Thunderbird from v45 to v52"
Hi,
Don't know where to put this: The "move" action does not work anymore when upgrading Thunderbird from v45 to v52: the target folder is empty. This problem disappears when switching back to v45-8-0.
See screen dump.
![thunderbirdfilter](https://user-images.githubusercontent.com/9283001/31276822-28b6a5d0-aa9e-11e7-8aab-c5a110667464.png)

[2017-10-08 20:01] fitojb commented on #2925
Thunderbird’s bug tracker is at bugzilla.mozilla.org. This is the wrong place to report this; as you can see, this repository hosts code for _Mozilla’s support website itself_.

[2017-10-09 06:16] glogiotatidis commented on #2925
@NicSil as @fitojb suggests please file [Thunderbird bugs in Bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi?product=Thunderbird). This is the wrong place and thus I'm going to close this issue.

[2017-10-09 06:16] #2925 closed

[2017-10-09 09:22] NicSil commented on #2925
mmmh... seems very complicated to get an account there. So I think the purpose is to avoid people sending comments and bugs. So I think I will keep my bug in my pocket.

[2017-10-09 09:27] NicSil commented on #2925
And trying to fit the rules for creating a password is a nightmare. The guy that decided this if fool: its not a banking account...

Your password must be at least 12 characters long, and contain:

multiple uppercase letters, multiple lowercase letters, and multiple numbers

OR multiple symbols, numbers, and letters
OR a phrase with at least 4 words

[2017-10-09 09:28] NicSil commented on #2925
Give up.
my business is not here. Just wanted to help.

[2017-10-20 10:58] ambraspace opened #2929 "Memory leak on folder repair?"
I have some issues with my emails, so I have to manually (by using OS commands) move messages from one folder to another. My Inbox folder has 11000+ messages in Maildir format.

When I move approx. 200 messages from Inbox to Inbox/BAD, and start folder repair of Inbox folder, memory usage of Thunderbird increases several GB and remains that high even after operation finishes.
It is always reproduc

[2017-10-20 11:00] glogiotatidis commented on #2929
Hi @ambraspace

This is an issue tracker for the Django project that https://support.mozilla.org is based on.

Please file Thunderbird support questions here: https://support.mozilla.org/questions/new

[2017-10-20 11:00] #2929 closed

[2017-10-20 11:03] glogiotatidis commented on #2925
I'm sorry you feel this way NicSil. I'm not claiming the Bugzilla's process if the best but filing bugs in random places just b/c it's under the mozilla github org doesn't help either.

Anyway, I hope that you file that bug to help make the software better for you and others.

[2017-10-20 12:09] NicSil commented on #2925
Ok. Added to Thunderbird bugs in Bugzilla.

[2017-10-20 12:45] glogiotatidis commented on #2906
We track bugs in Bugzilla. Only activity related to the infrastructure and the upcoming move to AWS should be tracked here.

[2017-10-20 12:46] glogiotatidis commented on #2906
@orschiro could you please file a bug in bugzilla about this?

https://bugzilla.mozilla.org/enter_bug.cgi?product=support.mozilla.org

[2017-10-20 13:06] orschiro commented on #2906
@glogiotatidis sure!

https://bugzilla.mozilla.org/show_bug.cgi?id=1410405

[2017-10-20 13:23] glogiotatidis commented on #2906
And thank you very much! I'll go ahead and close this one.

[2017-10-20 13:23] #2906 closed

[2017-10-25 11:23] glogiotatidis commented on #2902
This was fixed

[2017-10-25 11:23] #2902 closed

[2017-10-25 11:27] glogiotatidis commented on #2908
Closing this one in favor of #2916

[2017-10-25 11:27] #2908 closed

[2017-10-25 11:31] glogiotatidis opened #2930 "12 Factorize App"
We want to 12factorize Kitsune. Some progress has been made in the docker branch already on which we should build upon and complete this.

[2017-10-25 11:33] glogiotatidis opened #2931 "Fix unit tests."
Current unit test suite is broken. Fix it.

Update: We excluded a few tests from the test suite and it now completes successfully. An issue must be created for each (group of) test(s) which have been excluded and it should be linked to this tracker issue.

[2017-10-25 11:37] glogiotatidis opened #2932 "Create legacy branch for the SCL3 deployments"
The SCL3 datacenter and the AWS/K8S codebases will diverge to reduce conflicts and increase development speed.

It's decided to copy `master` to `legacy` and keep the later for SCL3 based deployments.   The master branch will remain the active development branch, targeting AWS/K8S.

 - [ ] Create `legacy` branch
 - [ ] Update README with details on the current branch status.

[2017-10-25 11:52] glogiotatidis opened #2933 "Create S3 buckets for user media"
Create S3 buckets for sumo user media in Oregon

 - No versioning

Suggested names:
 - sumo-user-media-stage
 - sumo-user-media-prod

Part of #2899

[2017-10-25 11:58] glogiotatidis opened #2934 "Create CloudFront distributions for User Media"
Create two CloudFront distributions for User Media

 - [x] One for production use with origin the production S3 bucket created in #2933
 - [x] One for stage use with origin the stage S3 bucket created in #2933

Part of #2899

[2017-10-25 12:01] glogiotatidis opened #2935 "Add support for Auth0"
Currently SUMO locks `/admin` behind Auth0 and SSO on the webserver level.

Use [mozilla-django-iodc](https://github.com/mozilla/mozilla-django-oidc/) to move the authentication on the App level.

[2017-10-25 12:08] glogiotatidis commented on #2900
FTR we're currently using [SocketLabs](https://www.socketlabs.com/). Let's make sure that we ping WebOps when this is done that we don't need the SocketLabs acc anymore

[2017-10-25 12:15] glogiotatidis opened #2936 "Create ElasticSearch for dev"
We need an ElasticSearch server for dev

 - SCL3 version 2.4.5
 - Plugins
   - Polish analyzer https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-stempel.html

All the data can get rebuilt from the database.

[2017-10-25 12:24] glogiotatidis opened #2937 "Decide on the Database"
Current database on SCL3

 - MySQL 5.6.33-log

We should investigate the existence of raw SQL queries in the codebase or in libraries (especially django-tidings) before deciding on the Engine type and version.

[2017-10-25 12:25] glogiotatidis commented on #2937
Closest MySQL available in AWS is `5.6.34`

[2017-10-25 12:28] glogiotatidis opened #2938 "Add whitenoise and serve static files from the app"

[2017-10-25 12:30] glogiotatidis opened #2939 "Add gunicorn + Meinheld worker"

[2017-10-25 12:35] glogiotatidis opened #2940 "Switch from MemCache to Redis"
On SCL3 we use Memcache as a cache backend for Django.

We have Redis clusters already setup in AWS and we agreed to switch to Redis.

[2017-10-25 14:24] metadave commented on #2936
We've had success with [elastic.co](https://www.elastic.co/cloud) hosting for MDN.

MDN specs:
- AWS / us-west-2
- 4GB memory
- 96 GB SSD
- HA enabled
= $228/month

See also:
https://github.com/mozmeao/infra/issues/193
https://github.com/mozmeao/infra/issues/383

[2017-10-25 14:32] metadave opened #2941 "Create internal creds repo"

[2017-10-25 16:09] safwanrahman commented on #2937
@glogiotatidis As far as I know, SUMO uses Mariadb in SCL3. Can you please check again?

[2017-10-25 16:44] metadave commented on #2937
@safwanrahman this is for the migration to AWS, the main project is located here: https://github.com/mozilla/kitsune/projects/2 (which can also bee seen on the right of this Github issue)

[2017-10-25 16:47] safwanrahman commented on #2937
@metadave Yes. I have seen. I have just curios about SCL3 that when they have changed the database to MariaDB to MySQL. As far as I remember, it used to be MariaDB, can you check whats in the SCL3?

[2017-10-25 16:50] metadave commented on #2937
Sorry, that's something I don't have access to.

[2017-10-26 06:30] glogiotatidis commented on #2937
[code]

[2017-10-31 14:25] metadave opened #2942 "provision RDS instance"
Using Terraform, create a multi-AZ RDS instance in AWS.

We'll need to specify a 30 minute window for backups, and a 30 minute window for general maintenance. @glogiotatidis Do you have an idea of when would be a good time for these windows?

See [this](https://github.com/mozilla/kitsune/issues/2937) issue for version info.

[2017-10-31 14:25] metadave opened #2943 "Provision Elasticache cluster (Redis)"
Using Terraform, provision a cross AZ Elasticache cluster in AWS. We'll need to determine what instance types to use for the cluster.

[2017-10-31 14:28] metadave commented on #2936
I can create this at any time, but I'd like to get the SUMO/AWS estimate set first.

[2017-10-31 14:58] metadave commented on #2936
let's use the [Elasticsearch helm chart](https://github.com/kubernetes/charts/tree/master/incubator/elasticsearch) for the dev instance.

[2017-10-31 18:22] metadave commented on #2934
See also:
https://github.com/mozmeao/infra/pull/626
https://bugzilla.mozilla.org/show_bug.cgi?id=1413279

[2017-11-03 14:40] metadave commented on #2936
I've spent about a day trying to get [this](https://github.com/kubernetes/charts/tree/master/incubator/elasticsearch) chart to run in Frankfurt with v2.4.5, but the pods won't start due to problems with persistent volume timeouts.

For development, I'd suggest a single [elastic.co](https://www.elastic.co/cloud/as-a-service/pricing) 1GB memory/24GB disk space AWS instance in a single region for $38

[2017-11-06 12:06] glogiotatidis opened #2944 "Confirm that django-axes gets client's ip"
django-axes needs to now the client ip. Now it's configurated to `HTTP_X_CLUSTER_CLIENT_IP`.

Does this header work in k8s?

[2017-11-06 16:14] metadave commented on #2942
"rough draft": https://github.com/mozmeao/infra/pull/638

[2017-11-06 17:43] jwhitlock commented on #2944
MDN gets ``X-Forwarded-For`` with the IP address, according to a Sentry backtrace.  We don't use CloudFront in front of the ELB. I'm not sure how to get other header information without shipping ``DEBUG=True`` code.

[2017-11-07 13:04] glogiotatidis opened #2945 "Switch Celery Broker to Redis"

[2017-11-07 13:05] glogiotatidis opened #2946 "Migrate crontabs to APScheduler"

[2017-11-07 13:12] glogiotatidis commented on #2944
Thanks for you feedback @jwhitlock. AFAIK `x-forwarded-for` is the same as `HTTP_X_CLUSTER_CLIENT_IP` so that should be good enough.

Can you please elaborate on which other headers are you talking about and why you need to set DEBUG to get them?

[2017-11-07 13:29] glogiotatidis commented on #2932
https://github.com/mozilla/kitsune/pull/2947

[2017-11-07 13:51] jwhitlock commented on #2944
Sentry shows these headers:

[code]

I'd also expect a ``User-Agent`` and an ``Accept`` header, and I assume Sentry is filtering them out. I'd need to create an endpoint that displays the user's headers (unsafe to leave on in production for long), or enable something like the [django-debug-toolbar](https://github.com/jazzband/django-debug-toolbar) to get more detail (which requires ``DEBUG=True``

[2017-11-07 14:34] glogiotatidis commented on #2936
elastic.co with 2.4.6 and click-to-get polish analyzer wfm just fine.

[2017-11-07 14:48] glogiotatidis commented on #2942
Well we get traffic from allover the world. According to GA the 3 top countries are US, Germany and Japan, a full range of timezones :D

I'd place those maintenance windows around UTC+12 and UTC+11.5

Since those are multi-az we shouldn't be expecting any downtime given thaf everything goes well, correct?

[2017-11-07 14:50] metadave commented on #2942
[In theory](http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.MultiAZ.html), yes.

[2017-11-07 14:53] glogiotatidis commented on #2944
Oh get more headers in sentry, I get it. If it's of any help Sentry for SUMO returns a full list of headers including Accept and User-Agent. I haven't changed anything from the default conf. Maybe it's something in raven's conf?

[2017-11-07 15:45] glogiotatidis opened #2948 "Rsync user media from SCL to S3"

[2017-11-07 16:01] metadave commented on #2948
https://gist.github.com/metadave/e3e53720fe2fa133a91eb66483eff4ad

[2017-11-07 16:41] pmac opened #2949 "Setup prod hosting of static media for AWS prod"
For dev we'll probably just serve static media from the primary docker container via [whitenoise](http://whitenoise.evans.io/en/stable/), but that won't scale to prod traffic. We have some options:

* Sync static files to S3 and serve via a CDN
* Deploy a separate Nginx container for serving said files, optionally with a CDN in front
* Put a CDN in front of the entire site (potentially a lot more

[2017-11-07 20:23] metadave commented on #2899
@glogiotatidis @pmac @jgmize
Cloudfront, S3 and Route 53 are setup for the following:

[https://dev-cdn.sumo.mozilla.net/](https://dev-cdn.sumo.mozilla.net/)
[https://stage-cdn.sumo.mozilla.net/](https://stage-cdn.sumo.mozilla.net/)
[https://prod-cdn.sumo.mozilla.net/](https://prod-cdn.sumo.mozilla.net/)

Feel free to remove the index.html page from each dev|stage|prod bucket.

[2017-11-07 20:32] metadave commented on #2933
provisioned in https://github.com/mozmeao/infra/pull/626

[2017-11-07 20:32] #2933 closed

[2017-11-07 20:32] metadave commented on #2934
provisioned in https://github.com/mozmeao/infra/pull/626

[2017-11-07 20:32] #2934 closed

[2017-11-07 20:49] metadave commented on #2936
@glogiotatidis dev instance provisioned in elastic.co, let me know when you have the private repo configured and I'll add the creds there.

[2017-11-08 09:28] glogiotatidis commented on #2941
We used Keybase to create an encrypted git repo.

[2017-11-08 09:28] #2941 closed

[2017-11-08 09:28] #2940 closed

[2017-11-10 12:50] glogiotatidis opened #2954 "Create IAM users for dev, stage, prod with S3 access"
Created:
 - sumo_dev
 - sumo_stage
 - sumo_prod

with the needed policies to access S3 user media buckets.

Do we want to create different users for user media and for static media? /cc @pmac @metadave

[2017-11-13 07:09] glogiotatidis commented on #2899
Required Settings:
- `AWS_S3_CUSTOM_DOMAIN`
- `AWS_ACCESS_KEY_ID`
- `AWS_SECRET_ACCESS_KEY`
- `AWS_STORAGE_BUCKET_NAME`
- `AWS_S3_HOST`

[2017-11-13 11:33] glogiotatidis commented on #2948
Did an initial copy of stage and prod user media to the recosponding s3 buckets.

[2017-11-13 11:38] glogiotatidis commented on #2949
In this case we can also build a single image that will either run `nginx-light` or `gunicorn` depending on the value of a env variable. This would simply the building pipeline, keep the statics with the code, while we keep the flexibility to scale each function (static, app) seperately.

[2017-11-13 11:40] glogiotatidis opened #2956 "[docs] Step by step: how to dump and load the database from SCL3 to AWS"

[2017-11-13 15:32] metadave commented on #2954
If we're concerned about security, then we should split the users out. Otherwise, fewer users is easier to manage. I don't have a strong opinion either way

[2017-11-13 15:34] metadave commented on #2949
regarding S3 / Cloudfront: https://github.com/mozmeao/infra/issues/391

[2017-11-13 15:36] metadave commented on #2942
RDS automation in https://github.com/mozmeao/infra/pull/638, but not provisioned in AWS for dev.

[2017-11-13 15:36] #2942 closed

[2017-11-13 15:36] #2936 closed

[2017-11-13 15:37] #2943 closed

[2017-11-15 08:47] glogiotatidis opened #2957 "Move Product Details to the Database backend"

[2017-11-15 09:07] glogiotatidis opened #2958 "Remove TokenLogin Backend and Middleware"
In `settings.py` there's a [TokenLogin backend](https://github.com/mozilla/kitsune/blob/master/kitsune/settings.py#L516) in addition to the Model Backend for authetication. It appears that since [bug 921480](https://bugzilla.mozilla.org/show_bug.cgi?id=921480) are not using this in production. According to the bug this was somehow related to Persona Authentication.

Since this is not in use in pro

[2017-11-20 10:07] glogiotatidis opened #2961 "Evaluate the removal of ZenDesk code and tests"
Kitsune has ZenDesk related code which is very possible to be deprecated. Evaluate it's usefulness and remove if not used.

[2017-11-20 10:09] glogiotatidis opened #2962 "Fix search related tests"
The ElasticSearch upgrade to V2 broke a number of tests.

Currently all search related tests are marked as `search_tests` and get skipped in the test runs with `-a '!search_tests'`.

This issue tracks the update / re-write of those tests to work with current infra.

See also #2931

[2017-11-20 10:12] glogiotatidis opened #2963 "Fix test kitsune/wiki/tests/test_templates.py:NewRevisionTests.test_restore_draft_revision_with_older_based_on"
Test gets skipped.

[code]

See also #2931

[2017-11-20 10:19] safwanrahman commented on #2963
I have made another approach in #2904

[2017-11-20 10:22] glogiotatidis commented on #2963
This test is about restoring a revision, which should be unrelated to the session storage backend. Surely it breaks b/c of the change in the backend but we need to fix the test to work if the new backend.

[2017-11-20 10:24] safwanrahman commented on #2963
@glogiotatidis The test is related to the storage backend actually. Because in the test the cache needed to be deleted but as we are using cache for session storage, the session also got deleted and the client get logout.
Thats why it depends in sesion storage backend

[2017-11-20 10:39] glogiotatidis opened #2964 "Update travis config to run tests without root user"

[2017-11-20 10:41] glogiotatidis commented on #2963
I agree it breaks due to the cache backend change but it tests the restoration of a draft revision and the cache backend should be irrelevant

[2017-11-21 14:29] glogiotatidis opened #2966 "Improve Travis Build Time"
Travis needs 15-20 minutes to complete testing a pull request. We need to improve this time to iterate faster.

Half of the time is spend re-building the image. Current docker version in Travis (17.03) does not support the `cache_from` directive in `docker-compose.yml` so we need to find another way to use pre-built docker images

[2017-11-21 14:36] glogiotatidis opened #2967 "Setup Jenkins pipeline"
Setup Jenkins pipeline to:

 - Build
 - Test
 - Upload to docker hub
 - Deploy to k8s

[2017-11-21 14:37] glogiotatidis opened #2968 "Include locales + build messages in Docker image."

[2017-11-21 15:38] #2954 closed

[2017-11-21 15:43] metadave commented on #2945
I'll have to look into the eviction settings in https://github.com/mozmeao/infra/blob/master/apps/sumo/infra/multi_region/tf/redis/redis.tf#L31-L45

[2017-11-21 15:47] metadave commented on #2966
https://cloud.google.com/container-registry/

[2017-11-21 15:49] metadave commented on #2966
We'll use Jenkins to build and deploy, and Travis to run PR tests.

[2017-11-21 16:05] glogiotatidis commented on #2946
We agreed to switch to APScheduler and use DMS to monitor the cron jobs.

[2017-11-24 11:00] safwanrahman commented on #2968
Going to work on this, hoping to finish it within this weekend!

[2017-11-27 11:39] glogiotatidis opened #2979 "Import Database in RDS (dev)"
Blocked by https://github.com/mozmeao/infra/issues/654

[2017-11-27 11:58] glogiotatidis commented on #2956
Created `database-migration.org` in the keybase repo. I still want to update the document with database restore time estimations so I'll keep this open until we complete #2979

[2017-11-27 14:59] metadave commented on #2956
+1 looks good, I like what you've done with the ssh tunnel.

[2017-11-27 15:05] #2939 closed

[2017-11-29 14:00] #2946 closed

[2017-11-30 11:54] glogiotatidis commented on #2979
We now have a new dev database with enough space.

@jgmize @metadave since ci.us-west cannot directly connect to this database can you advise on how can we import the sql dump?

[2017-11-30 11:55] glogiotatidis opened #2984 "Dev app does not redirect correctly"
The dev instance deployed at http://sumo-dev.frankfurt.moz.works does not redirect correctly.

STR:
 - Go to http://sumo-dev.frankfurt.moz.works
 - Page loads
 - Click on 'Ask a question' (or this link http://sumo-dev.frankfurt.moz.works/en-US/questions/new)
 - Redirect error

This should be related to https://github.com/mozmeao/infra/issues/540

My preference would be to have https://github.com/m

[2017-11-30 14:09] metadave commented on #2979
The easiest way is to start a pod in Frankfurt in the same VPC as the DB. Given the size of the DB backup file, we'll need an attached EBS volume.

[2017-11-30 14:16] metadave commented on #2979
something like this should work:

[code]

[2017-11-30 14:20] metadave commented on #2984
@glogiotatidis do you mean http->https redirection?

Most of our apps have been using the [redirector service](https://github.com/mozmeao/infra/tree/master/k8s/install/services/http_to_https_redirector), which can be easily enabled by adding the NodePort to the ELB listener (although we typically set it up w/ automation).

[2017-11-30 14:22] glogiotatidis commented on #2984
I mean that the Django app does not get the required `X-Forwarded-*` headers which causes a redirect loop

[2017-11-30 14:34] pmac commented on #2984
@glogiotatidis I'm happy to do the same hack we're using in bedrock, basket, etc. for now, but I agree that I'd rather get the headers.

[2017-11-30 14:37] metadave commented on #2979
ok, pod created with MySQL client, Python + AWSCLI.

access with:

[code]

I was able to connect to the dev database from the MySQL cli in this pod.

[2017-11-30 14:42] metadave commented on #2979
Also, it's easy/convenient to push/pull DB backups to/from S3 rather than a filesystem elsewhere.

[2017-11-30 14:47] pmac commented on #2984
Filed #2986 to address this the hack way if we want it for now.

[2017-12-01 19:24] bensternthal opened #2989 "Meta Issue For Docker Install On Mac"
Parking lot for issues I am having getting the install running on mac.

### docker-compose Version Not Supported
3.4 does not appear to be supported by the version of docker I have installed (Version 17.09.0-ce-mac35, no update available). 3.3 does work

### Missing Install Docs
We don't have install docs for docker.

### What I have done thus far...
1. Change version in docker-compose file to 3.3

[2017-12-04 08:58] glogiotatidis opened #2990 "Upgrade to ElasticSearch 5.x"
ElasticSearch 2 is reaching EOL on Feb 28th 2018. elasti.co extends its support until Aug 28th 2018

[2017-12-04 09:05] glogiotatidis opened #2991 "Update development documentation"
Development documentation under `docs/` needs to explain how to setup things with Docker.

[2017-12-04 09:22] glogiotatidis opened #2993 "Calculate time needed to restore production database"
The production database is a large (~100Gb). We need to calculate the time needed to restore it in the real database engine that's going to be used in AWS.

If the time needed is above the threshold considered acceptable to do the move we should investigate other options, like incremental import of data.

A dev import into a `db.t2.small` instance took about 30 hours. FTR the complete lithium migr

[2017-12-04 09:22] glogiotatidis commented on #2979
Database import complete. It took about 30 hours (!) in a  `db.t2.small`. Filed issue #2993 to run a test migration against the real database engine and get a more realistic estimation.

[2017-12-04 09:22] #2979 closed

[2017-12-04 09:54] glogiotatidis commented on #2979
Run the [anonymization script](https://github.com/mozilla/kitsune/blob/master/scripts/anonymize.sql), except from setting images to null (b/c we're going to have a copy of user media)

[2017-12-04 10:18] #2899 closed

[2017-12-04 11:06] glogiotatidis commented on #2899
Wiki documents hold a saved version in `Document.html` which needs to be updated so media point to the new origins.

[2017-12-04 11:06] glogiotatidis commented on #2989
See also #2992

[2017-12-04 15:31] #2957 closed

[2017-12-04 15:57] jgmize commented on #2993
We can resize the DB to a larger size prior to the restore and then back down afterwards for cost savings, but I also think the incremental import of data is worth exploring.

[2017-12-04 16:00] jgmize commented on #2993
@glogiotatidis are all of the tables InnoDB? According to https://dev.mysql.com/doc/mysql-enterprise-backup/4.1/en/mysqlbackup.incremental.html we wouldn't gain much from incrementals if not.

[2017-12-04 17:00] bensternthal commented on #2989
Will run through the updated instructions and see if I can get it working. Much thanks.

[2017-12-04 17:25] bensternthal commented on #2989
OK  a few issues running through the new instructions.

**Docker Compose Version**
All docker compose files specify version: '3.4' which i have to set to '3.3' to get working.

**Error Building Dev**
running ```docker-compose -f docker-compose.yml -f docker/composefiles/build.yml build dev```

Results in:
[code]

**Create DB Specified Before Running Docker Compose Up**
Step 3 specifies running the

[2017-12-04 18:55] metadave commented on #2993
@glogiotatidis let me know when you'd like try try a new import with a resized dev node. It takes ~10-15 minutes to resize an RDS instance for the MDN DB, guessing it will take the same amount of time for SUMO.

[2017-12-04 19:02] pmac commented on #2989
For the docker-compose version it looks like the best way to stay up-to-date is to install via `pip`. [Latest on pypi](https://pypi.python.org/pypi/docker-compose) is 1.17.1.

[2017-12-05 01:07] bensternthal commented on #2989
OK upgraded docker-compose.. still an issue building dev:

[code]

[2017-12-05 07:48] glogiotatidis commented on #2993
Yes I'd like to try a new import. `db.m4.xlarge` sounds good.

[2017-12-05 15:27] glogiotatidis commented on #2968
Fixed in https://github.com/mozilla/kitsune/pull/2985

[2017-12-05 15:27] #2968 closed

[2017-12-05 15:28] #2956 closed

[2017-12-05 15:36] bensternthal commented on #2989
@glogiotatidis would you prefer i shut this issue down and make comments in this PR:

https://github.com/mozilla/kitsune/pull/2992

[2017-12-05 16:03] glogiotatidis commented on #2989
No since this is merged lets keep the discussion here

[2017-12-06 08:55] glogiotatidis commented on #2993
We're already 20 hours in and the db import in the `db.m4.xlarge` instance is at 84%.
 - CPU use is < 20%
 - IO averages at ~750 Write IOPS, with a spike at ~1250 for two hours when the import began.
 - We have about 2.5G of free memory, steady since the import began

It seems that this is IO bounded. We discussed that maybe the attached ELB was not upgraded when we upgraded the instance to `xlarg

[2017-12-06 15:11] metadave commented on #2993
- dev instance has been scaled from `db.m4.xlarge` back down to `db.t2.small`.
- correction for comment above: 'ELB' -> 'EBS volume'
- we can try [Provisioned IOPS](http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Storage.html)

[2017-12-06 15:34] jwhitlock commented on #2993
Flags like ``--opt`` on the dump command can significantly speed up the restore.

https://dev.mysql.com/doc/refman/5.5/en/optimizing-innodb-bulk-data-loading.html

[2017-12-08 08:13] glogiotatidis commented on #2993
We received info from our DBAs that the `django_sessions` table is huge (~65gb) and it's unused b/c we switched to `cache` only sessions from `cache_db`  at some point this year. This table we can truncate and it will save us a lot of time.

Also the `wiki_helpfulvote` and `wiki_helpfulvotemetadata` tables weight another 24gb and it's worth investigating whether we can import the latest data from

[2017-12-19 16:03] glogiotatidis opened #2998 "Redirect support.mozilla.com to support.mozilla.org"

[2017-12-19 19:21] metadave opened #2999 "point SUMO domains at moz.works, point moz.works to SCL3"
We'll need to request a DNS change via bugzilla for the following entries:

`support.mozilla.org` ->
      CNAME `prod.sumo.moz.works` ->
      CNAME `sumo.external.zlb.scl3.mozilla.com.`

`support.mozilla.com` ->
      CNAME `prod-redirect.sumo.moz.works` ->
      CNAME `sumo.external.zlb.scl3.mozilla.com.`

We'll use the same .sumo.moz.works naming convention that was established in [this](https

[2017-12-19 21:15] pmac commented on #2999
Since we'll probably use a separate service for SUMC, should we have it point to a different alias?

[2017-12-19 21:18] metadave commented on #2999
The point here is to add a layer of indirection to a moz.works domain so we easily point at the new K8s services at a later date (without submitting a bug).

[2017-12-19 21:19] metadave commented on #2999
@pmac how about something like:

`support.mozilla.com` ->
      CNAME `prod-redirect.sumo.moz.works` ->
      CNAME `sumo.external.zlb.scl3.mozilla.com.`

[2017-12-20 08:49] glogiotatidis commented on #2999
lgtm, thanks dave

[2017-12-22 14:16] ghost opened #3000 "empty href in the source code of kitsune doc"
there is empty href in the source code "installation-vagrant" according to vagrant method of venv in https://kitsune.readthedocs.io/en/latest/hacking_howto.html#hacking-howto-chapter
@glogiotatidis

[2017-12-22 14:19] jestemkamil opened #3001 "no file called "settings_local.py.dist" in kitsune/ directory"
Or i'm really blind, but i tried searching whole repo, although
there is actually file "settings.py" but there isn't any line of code referring to <YOUR_PASSWORD> as written in doc, I tried modifying it
and saving as settings_local.py but i failed.

Whole problem is related to setting up env correctly according to documentation at:
https://kitsune.readthedocs.io/en/latest/hacking_howto.html#hackin

[2017-12-22 14:24] safwanrahman commented on #3001
We are using docker at this moment but the documentation has not been updated yet.

[2017-12-22 14:28] jestemkamil commented on #3001
Well, i think it should be updated ASAP, it would be helpful, especially for newcomers

-

[2018-01-01 22:41] messed-with opened #3002 "I need help with account"
I don't know where to leave this message. I still have hackers using my acct or making in my name. It's going on a year now. I need help. They have overlays for everything including here. By the looks of me writing this won't be seen.
Jenn Cook

[2018-01-01 23:17] bensternthal commented on #3002
Are you having a problem with your account on the support.mozilla.org website?

If so please file a confidential bug [here](https://bugzilla.mozilla.org/enter_bug.cgi?product=support.mozilla.org&component=Users%20and%20Groups).

Github issues are for tracking work on the code base.

[2018-01-01 23:17] #3002 closed

[2018-01-02 03:36] messed-with commented on #3002
I'm having problems with a team of hackers. I'm at the point where I guess
I'm asking where do I go? The authorities move slow, I just want my life
back...although it will never be the same after the perm embedded threat.
Can you help? Do you know someone? Forgive me for sounding so desperate,
but I am tired of fighting an entire group. Call if you can. I wish it were
as simple as one browser...th

[2018-01-02 08:34] messed-with commented on #2999
What is going on? Im being hacked and all this stuff gets through?
Jenn

[2018-01-02 08:36] messed-with commented on #2900
Once again...someone not allowing to see the things being used on my accounts
Jenn

[2018-01-04 16:01] metadave commented on #2900
Note: if for some reason we end up sticking with SocketLabs, AWS automatically [throttles port 25 outbound traffic](https://aws.amazon.com/premiumsupport/knowledge-center/ec2-port-25-throttle/). We had a similar issue in MDN, changing the SocketLabs port allowed us to bypass the throttle.

[2018-01-04 16:41] metadave commented on #2999
Route53 entries created:

[code]

[2018-01-04 16:42] metadave commented on #2999
does Django need to be made aware of the new intermediate domain?

[2018-01-04 17:49] pmac commented on #2999
shouldn't

[2018-01-04 19:00] metadave commented on #2999
https://bugzilla.mozilla.org/show_bug.cgi?id=1428134

[2018-01-04 19:00] metadave commented on #2998
https://bugzilla.mozilla.org/show_bug.cgi?id=1428134

[2018-01-05 19:23] metadave commented on #2999
DNS change scheduled for Jan 8th @ 1pm eastern w/ joeyk

[2018-01-08 10:43] glogiotatidis commented on #2900
We need to verification `notifications@support.mozilla.org` email on SES. I filed [bug 1428741](https://bugzilla.mozilla.org/show_bug.cgi?id=1428741) to identify the users receiving those emails and then proceed with the verification.

[2018-01-08 11:14] glogiotatidis opened #3003 "Switch user media to s3 + CDN on SCL3"
We want to convert legacy codebase running on SCL3 to use S3.

See also #2899

Deployment for staging
- [x] Rsync user media to S3 (see #2948)
- [x] Backup virtualenv and settings_local.py
- [x] Update settings_local.py
- [x] Chief push
- [x] Verify that uploads and resizing work by uploading to https://support.allizom.org/en-US/gallery/images
- [x] Verify that media CDN works
- [x] Update `Docume

[2018-01-08 11:25] glogiotatidis commented on #3003
To update `Document.html`

[code]

[2018-01-08 12:46] glogiotatidis opened #3004 "Update installation instructions in RTFD"

[2018-01-08 12:48] glogiotatidis commented on #3001
Instructions on how to setup the docker dev environment are in the [README](https://github.com/mozilla/kitsune/blob/master/README.md).

We should also update the instructions on RTFD. I filed #3004 to track this.

btw @jestemkamil please note that currently Kitsune is under feature freeze. If you want to work on something please file an issue first so we can discuss.

[2018-01-08 12:48] #3001 closed

[2018-01-10 12:38] glogiotatidis commented on #3003
See #2983

[2018-01-10 16:43] metadave opened #3006 "Establish MySQL replication from SCL3 -> RDS"
https://bugzilla.mozilla.org/show_bug.cgi?id=1429466
https://bugzilla.mozilla.org/show_bug.cgi?id=1429911

[2018-01-10 19:51] metadave commented on #2999
Done!

[code]

[code]

[2018-01-11 08:02] glogiotatidis commented on #2900
No MX record for support.m.o thus nobody gets those emails and we can't verify Email in AWS. Ops will create an MX record and point emails to a private Google Group so we can verify. Progress in [bug 1428741](https://bugzilla.mozilla.org/show_bug.cgi?id=1428741)

[2018-01-11 08:10] glogiotatidis commented on #2999
Aaand we totally forgot to change stage (`support.allizom.org`).

1. created a Route 53 record (`stage.sumo.moz.works`) pointing directly to `63.245.213.31` -as `support.allizom.org` does atm.

2. Re-opened bug to complete this.

[2018-01-11 21:06] metadave commented on #2900
@glogiotatidis is there anything you need me to automate here?

[2018-01-11 22:44] safwanrahman commented on #3003
I think it would be better to take SUMO to readonly mode for while.

Moreover, run a custom migration inorder to update the html of the documentation

[2018-01-12 10:32] glogiotatidis commented on #2900
I understand that we need to verify the address and then we can use SES. I don't see anything to automate. Do I miss something?

[2018-01-12 10:34] glogiotatidis commented on #3003
Thank you for your input @safwanrahman. I prefer to trigger the html regeneration myself instead of during the push.

[2018-01-12 11:46] glogiotatidis commented on #2998
How do we plan to make this redirect? @metadave can you do this on the k8s level?

[2018-01-12 12:11] metadave commented on #2998
It's already done with DNS.

[2018-01-12 18:50] bensternthal opened #3007 "[Bug 1238772] Implement CSP Policy"
https://bugzilla.mozilla.org/show_bug.cgi?id=1238772

[2018-01-12 18:53] bensternthal opened #3008 "[Bug 1430186] Profile Form Field Change"
See bug.

[2018-01-15 09:51] glogiotatidis opened #3009 "Truncate django_sessions table in SCL3"
Django_sessions accounts for a large percentage for the database and it's not used anymore. We can safely drop it to reduce database use and migration / replication times.

[2018-01-15 09:51] glogiotatidis commented on #3006
See also #3009

[2018-01-15 09:52] glogiotatidis commented on #2993
See also #3009

[2018-01-15 09:55] glogiotatidis opened #3010 "Switch Sessions to cached_db"
After deploy to AWS, we want to switch cached_db sessions to maintain sessions among datacenters.

 - Verify that we don't create a session unless needed (i.e. only when users are writing logged in or otherwise)
 - Re-enable test #2963
 - Switch to cached_db sessions

[2018-01-15 10:06] glogiotatidis opened #3011 "Test READ_ONLY Mode of Kitsune in SCL3 and AWS"
Kitsune sports a READ_ONLY mode. Test and verify that it's working as advertised.

This will be used during the migration:

 - Both SCL3 and AWS will be switched to READ_ONLY
 - Gradually we'll shift the traffic to AWS.
 - After AWS stabilizes we'll enable writes again

- [ ] Verify that READ_ONLY in SCL3 works
- [ ] Verify that READ_ONLY in AWS works

[2018-01-15 12:22] glogiotatidis commented on #2949
I suggest that we go fwd with the following plan:

  1. Enable WhiteNoise for all dev, stage, prod
  2. Setup CDN to serve only static files and not the whole site. See [instructions](http://whitenoise.evans.io/en/stable/django.html#restricting-cloudfront-to-static-files) from WhiteNoise docs.

This way:
 - Statics remain with the code and we build only one docker image
 - We don't have to manage

[2018-01-15 13:36] glogiotatidis opened #3012 "Database Architecture"
- Kitsune uses MySQL (See #2937) on SCL3.
 - On AWS Kitsune will running in multiple regions
 - Since all visitors can potentially write on the database (from the simple task to subscribe to a question to the more complex editing and managing of KB articles), we can't have an admin only domain as we do with other apps. We want visitors on `support.mozilla.org` to be able to write to database and t

[2018-01-16 15:21] glogiotatidis opened #3013 "Search Architecture"
* Kitsune uses ElasticSearch v2.4
* On AWS Kitsune will run on multiple regions
* ElasticSearch data don't have to be persistent and can be regenerated completely from database.

## Architecture (3rd iteration)

 - One Multi-AZ ElasticSearch cluster in Oregon which will be used by both k8s clusters in Oregon running Kitsune
   - Documents in this cluster will be live indexed as changes happen usin

[2018-01-16 15:26] glogiotatidis opened #3014 "Deploy to vanilla k8s"
Convert Kitsune from Deis v2 to vanilla Kubernetes deployment.

[2018-01-16 16:25] metadave opened #3015 "SUMO AWS monitoring setup"
We'll need to setup dashboards in New Relic/Datadog/etc.

[2018-01-16 21:59] bensternthal opened #3017 "[Bug 396792] Intermittant RSS Issue"
Intermittent issue with RSS:

https://bugzilla.mozilla.org/show_bug.cgi?id=1396792

[2018-01-17 09:31] glogiotatidis commented on #3009
[code]

64 GB of django sessions gone. Calling this fixed.

[2018-01-17 09:31] #3009 closed

[2018-01-17 09:38] #2930 closed

[2018-01-17 09:39] glogiotatidis commented on #2930
Done

[2018-01-17 14:24] glogiotatidis commented on #3003
This is live to as of today 2017-01-17 14:14 UTC

Currently running a rsync to S3 to make sure we didn't leave anything behind. Uploads appear to be working fine. Initial tests to show any missing images.

[2018-01-18 08:30] glogiotatidis opened #3018 "Re-enable Django Axes"
[Bug 1041681](https://bugzilla.mozilla.org/show_bug.cgi?id=1041681) disabled django-axes. Axes logs failed login attempts and can block brute forcing IPs.

See also [bug 1430735](https://bugzilla.mozilla.org/show_bug.cgi?id=1430735)

[2018-01-18 08:30] glogiotatidis commented on #2944
See also #3018

[2018-01-18 08:47] glogiotatidis commented on #3011
See https://github.com/mozilla/kitsune/pull/3019

[2018-01-18 13:07] glogiotatidis opened #3023 "Add liveness and readiness endpoints"
Add `/healthz/` and `/readiness/` to check the health of the app and it's ability to serve traffic.

Needed for the k8s deployment.

See also mdn's example https://github.com/mozilla/kuma/blob/master/kuma/health/views.py

[2018-01-18 13:49] glogiotatidis opened #3024 "Search as you type is too aggresive"
Search as you type in the default search box starts searching for documents from the first character which results in higher App and ElasticSearch use with questionable gains.

Change the code so that it requires at least X number of characters to be typed and/or increase the wait time between the last pressed key to start of the search. Ideally make those variables configurable in the settings so

[2018-01-18 20:40] metadave commented on #3011
Should this be titled `Test READ_ONLY Mode of Kitsune in SCL3`?

[2018-01-19 08:20] glogiotatidis opened #3025 "Traffic Log Analysis"
## Traffic analysis of 24 hours on 2017-05-11

[code]

**Total requests:** 24,252,746
**Requests Per Minute:** 16.8k

**Percentage of POST Operations:** 5.01%
Requests Per Minute: 0.84k

**Percentage of /1/ Requests:** 5.44%
Requests Per Minute: 0.92k

**Percentage of /static/ Requests:** 0.86%
Requests Per Minute: 0.14k

**Percentage of /media/ Requests:** 0.07%
Requests Per Minute: 0.01k

Both `

[2018-01-19 08:34] glogiotatidis commented on #3011
The original idea was to test if the READ_ONLY mode is a thing and if it works with the 12factorized settings. Now that we did that in #3019, I'll rename this issue to `... in SCL3 and AWS` as you correct suggest and move it to the backlog to make it happen

[2018-01-19 08:58] glogiotatidis commented on #3012
In yesterday's DB mtg the following happened:

 - We agreed continue fwd with the plan to establish replication between SCL3 and AWS
 - We agreed to develop and deploy the infra needed to replicate RDS from Oregon to other regions
 - We agreed to develop and deploy Kitsune backing services (ElasticSearch, ElasticCache) in more than one regions
 - We agreed to deploy Kitsune in more than one region

[2018-01-19 09:23] glogiotatidis commented on #3013
Our elastic search provider (elastic.co) creates instances with public IPs. Therefore instead of having the region local App instances update only the region local ES instance and signal the other App regions to do the same, each App instance can directly update all ES instances.

The update of ES each triggered by Django's `post_save` signals, so for example

**when a new Document gets saved in F

[2018-01-19 09:26] glogiotatidis commented on #3013
@mozilla/sumo can you please provide comments on the [second iteration of the architecture](https://github.com/mozilla/kitsune/issues/3013#issue-288945169)?

[2018-01-19 14:58] pmac commented on #3013
I have a couple thoughts:

1. I initially thought that option 1 (HTTP pings from Oregon) would be too unreliable. But I'm now thinking that it's possible that it'll be okay since I'd expect said pings to happen quite frequently, and if one or two were missed then it'd be okay; especially if we develop the view that returns the updated docs that the other regions can query. In that case missing a p

[2018-01-19 17:05] metadave commented on #3013
https://github.com/mozmeao/infra/issues/666#issue-278545959

[2018-01-19 17:10] metadave commented on #3013
1. > Each region running Kitsune runs its own ES cluster, provided by elasti.co

There may not be a direct mapping of elastic.co supported regions with regions we'll be deploying Kitsune to. From the "create cluster" screen of elastic.co:

![elastic_cloud](https://user-images.githubusercontent.com/58244/35162435-5ce2fb90-fd11-11e7-871d-b444b334e149.png)

2. Operationally, I'd be interested in some

[2018-01-19 17:12] metadave commented on #3006
https://bugzilla.mozilla.org/show_bug.cgi?id=1429466#c8:

See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1431493

[2018-01-19 17:14] metadave commented on #3011
before migration, do we need a traffic policy to control percentages of traffic to SCL3/AWS for READ_ONLY mode testing, or will we just test SCL3 followed by AWS?

[2018-01-19 20:54] metadave commented on #3012
https://bugzilla.mozilla.org/show_bug.cgi?id=1429466#c9

It might be best to stick with MySQL for the initial migration.

---

- [inter-region VPC peering](https://aws.amazon.com/about-aws/whats-new/2017/11/announcing-support-for-inter-region-vpc-peering/) is too limited for us to use, as it is only available in Virginia, Oregon, Ireland and Ohio regions.

- We have to keep in mind any extra costs

[2018-01-19 20:54] metadave commented on #3012
also, I ❤️ your diagrams above

[2018-01-19 22:45] messed-with commented on #3025
What is it about my accounts that you want? Cant i just have some peace? Please. Let me do what i want without redirects, 20 p/w CHANGES a day, the fake web sites, the threats (3 now), claiming to devs and app owners that you had my permission when you do not. I've been messed with for almost a year. Move on please. You achieved one of your goals...my life will never be the same. As far as the not

[2018-01-22 07:32] glogiotatidis commented on #3011
Yes a traffic policy is what we need. I'm drafting a migration plan for discussion which will surface other infra needs as well. Thanks!

[2018-01-22 07:39] glogiotatidis commented on #3013
of course. And yes, good point. We'll take advantage of the extended elasti.co support and upgrade libs and ES version after the migration.

[2018-01-22 07:42] glogiotatidis commented on #3013
Interesting. Do you think it's still worth getting ES clusters closer to the App instances, like Ireland ES for Frankfurt App instances? I believe so and if we agree I'll update the wording to

`Each region running Kitsune runs its own ES cluster in the same or another geographically close, provided by elasti.co`

[2018-01-22 07:48] glogiotatidis commented on #3013
FTR we index the following Kitsune objects:
 1. User Profiles
 2. Questions and Answers
 3. Wiki documents
 - ~~Customer Care replies~~ (we don't care about this since we're shutting down AoA #2916)

[2018-01-22 08:54] glogiotatidis commented on #3012
Agree

[2018-01-22 14:17] glogiotatidis commented on #3012
Thank you for your research on potential tunnel solutions @metadave.

Given the complexity of the setting up a VPN tunnel, the needs for HA with multiple EC2 instances and the fact the we only need to access one host (the RDS db) I suggest we focus on IP limiting the access.

Here's an idea:
 - Assign a Public IP to the Master RDS instance
 - Limit the access to the MySQL Port to specific IPs with

[2018-01-22 14:49] pmac commented on #3013
Thanks so much for this excellent description and illustration! I totally get it and am on board! 🚂 Let’s do it.

Also: color illustrations FTW 🎉

[2018-01-22 15:41] glogiotatidis opened #3026 "Bring Celery to AWS"
Kitsune executes many tasks using celery. Create whatever is needed (bash scripts, procfile entries, monitors etc) to bring it to AWS.

[2018-01-22 15:57] metadave commented on #3026
Do you need additional Redis support for a Celery backend?

[2018-01-22 16:03] metadave commented on #3025
Nice, do we have any idea as to how many bytes on average we're transferring for each type of request?

[2018-01-22 16:23] pmac commented on #3010
Is it possible to region-pin an authenticated user instead so that we can just use cache for sessions? Perhaps that is even more complicated. I'm mainly wondering if there is some AWS magic that can help us with this one? I'm not opposed to using the DB for this, but minimizing DB writes would be good.

[2018-01-22 19:06] metadave commented on #2949
How do these CDN setting look? https://github.com/mozmeao/infra/pull/694

[2018-01-22 23:23] bensternthal opened #3027 "[Bug 1431412] Google Analytics Enhancements"
Google analytics enhancements requested by Peter G & Analytics Pros.

https://bugzilla.mozilla.org/show_bug.cgi?id=1431412

[2018-01-23 02:37] metadave commented on #3012
I'd skip Lambda and just use boto3 from Python to update security groups.

[2018-01-23 02:37] metadave commented on #3012
I want to propose an alternate architecture for consideration.

We can run 2 K8s clusters in the same region (us-west-2) in different availability zones as the "primary clusters". Both K8s clusters would use the same RDS multi-AZ instance: there would be no changes required to Kitsune to get this to work. If we lose K8s or 1 AZ in us-west-2, the other AZ can scale up to take additional load automa

[2018-01-23 12:10] glogiotatidis commented on #3012
Yes, we can totally do that and it's simpler.

[2018-01-23 14:16] glogiotatidis commented on #3026
nope we just use a different db in the current redis. thanks!

[2018-01-23 14:38] glogiotatidis commented on #3010
Adding a few more thoughts

- Since we're going to have the website behind a latency based traffic policy (right?) the users will be in a way region-pinned.
- We are not generating a session object for anonymous users thus the db writes are limited to only authenticated users.
- It appears we have <500 logins per day for which we'll hit the db with new session data. All others should hit only the

[2018-01-23 14:41] glogiotatidis commented on #3003
A week in production and everything operates smoothly. thanks everyone!

[2018-01-23 14:41] #3003 closed

[2018-01-23 14:42] #2999 closed

[2018-01-23 14:42] glogiotatidis commented on #2999
[code]

[2018-01-23 14:43] #2948 closed

[2018-01-23 20:26] pmac commented on #3010
Now that we're going to have the 2 main deployments in a single AWS region, perhaps we don't need to do this after all? I'm still not opposed to it, but storing them in the cache (Redis) only seems fine also, especially since the hot-spare deployment will be read-only for some time during a failover.

[2018-01-24 09:19] glogiotatidis commented on #3010
Yes, let's keep it the way it is. It's a env variable change after all. Will record in the decision log and close this issue. Thanks.

[2018-01-24 09:19] #3010 closed

[2018-01-24 10:37] glogiotatidis commented on #2900
We are going to validate the domain in SES which will unlock all email address for sending.

Bug https://bugzilla.mozilla.org/show_bug.cgi?id=1432747

[2018-01-24 12:52] glogiotatidis commented on #2949
We're currently using Pipeline which takes care of static files collection *and* generates bundles with the assets. Pipeline works OK and the bundles are useful and in addition to what whitenoise offers. So we keep the Pipeline based Storage backend as we have it now.

I tested the current Whitenoise implementation and it  sets proper headers for static files
`Cache-Control: max-age=315360000, pub

[2018-01-25 11:31] glogiotatidis commented on #3014
@metadave @jgmize do you have time to PR with a basic deployment and service for k8s to kickstart this process?

[2018-01-25 15:42] metadave commented on #3013
Are we still planning on a Tokyo ES cluster?

[2018-01-25 16:43] glogiotatidis commented on #3013
No

[2018-01-26 02:12] metadave commented on #3014
Do you have something working in Deis yet? If so, I can extract out the deployment and tweak it. Otherwise, it's mostly just filling in the image and environment variables/secrets.

[2018-01-26 08:06] jgmize commented on #3014
@metadave https://sumo-dev.frankfurt.moz.works/en-US/ appears to be working :)

@glogiotatidis FYI you can get dump of the deployments and svc yaml with the steps in https://github.com/mozmeao/infra/pull/688#issuecomment-356761908 (s/bedrock-prod/sumo-dev/) to see what it looks like before @metadave's forthcoming tweaks :)

[2018-01-26 08:24] glogiotatidis commented on #2900
AWS verified the domain 🥂

I'll proceed with adding email address and with testing on Monday and plan on switching SCL3 to SES within next week.

[2018-01-26 09:15] glogiotatidis commented on #2935
https://github.com/mozilla/kitsune/pull/3028

[2018-01-26 09:16] glogiotatidis commented on #2935
Requested keys from IT for [dev](https://mozilla.service-now.com/sp?id=ticket&table=sc_req_item&sys_id=dbc7ba07db370f002887110b0b961959&view=sp) and [prod](https://mozilla.service-now.com/sp?id=ticket&table=sc_req_item&sys_id=3ea73a07db370f002887110b0b961918&view=sp)

[2018-01-26 11:59] glogiotatidis commented on #3014
Useful, i'll try this. thanks!

[2018-01-26 12:40] metadave commented on #3014
You'll also need the correct version of the secrets that are referenced in the deployment:

[code]

Don't post the results on Github!

[2018-01-26 13:49] metadave commented on #3014
actually, I'm working on this right now, I'll post a PR in an hour or so.

[2018-01-26 15:04] metadave commented on #3014
https://github.com/mozmeao/infra/pull/713

[2018-01-26 20:46] metadave commented on #2949
per the [WhiteNoise docs](http://whitenoise.evans.io/en/stable/django.html#restricting-cloudfront-to-static-files), each CDN is limited to `static/*`.

(See the Behaviors tab for each CDN below)
- [dev](https://console.aws.amazon.com/cloudfront/home?region=us-west-2#distribution-settings:EQZG8RJ5XZQYN)
- [prod](https://console.aws.amazon.com/cloudfront/home?region=us-west-2#distribution-settings:E

[2018-01-29 06:49] #2935 closed

[2018-01-29 07:00] glogiotatidis commented on #3025
I started this issue as part of the database discussions to identify the number of POSTs (i.e. number of db writes). Since we concluded the DB discussion my questions have been answered.

If we want to further process the logs to find bytes per request, I'll keep this issue open and get the more recent logs. What do you think @metadave?

[2018-01-29 08:08] glogiotatidis commented on #2949
I did setup sumo-dev.frankfurt.moz.works to use dev CDN and it works like a charm. nice work as always @metadave

I guess all we need now is the `mozilla.net` dns entries.

[2018-01-29 10:33] glogiotatidis commented on #2900
1. Created IAM user for scl3
2. Pushed and Verified working on SCL3 staging
3. Pushed and Verified working on SCL3 production
4. Created IAM user for AWS dev
5. Created issue to track deletion of IAM user created in (1) after SCL3 decom. https://github.com/mozmeao/infra/issues/716

Credentials are in sumo-encrypted

[2018-01-29 10:33] #2900 closed

[2018-01-29 10:36] glogiotatidis commented on #2900
Also created
  - sumo-stage-ses-smtp-user
  - sumo-prod-ses-smtp-user

for AWS stage and prod

[2018-01-29 12:23] glogiotatidis commented on #2944
Since Axes is currently disabled I'll remove this from the AWS dashboard

[2018-01-29 16:29] pmac opened #3030 "Setup search indexing for hot-spare region"
For our read-only spare region we won't be able to use the ORM model save signals to trigger indexing of new and modified questions and articles. We can reindex all of the articles nightly, but the questions are too numerous to do in that way. For now we'll just do an initial full indexing run, then set up a nightly job to freshen the index by reindexing all of the articles and all of the question

[2018-01-29 16:36] pmac opened #3031 "Use modified timestamps for updating search indexes"
We should store and use modified timestamps to decide what to add/update in the search indexes instead of ORM signals. In #3030 I suggested we work around said signals not working across regions by simply indexing the latest 2 days worth of modifications every night. This issue represents a plan for better handling of search indexing that should work in both read-only and read-write regions.

I pr

[2018-01-29 19:53] metadave commented on #3025
If it's not too much trouble, the more data we have to help us make architectural decisions, the better.

[2018-01-30 14:19] #3023 closed

[2018-01-30 14:59] glogiotatidis commented on #3004
https://github.com/mozilla/kitsune/pull/3033

[2018-01-30 14:59] #3004 closed

[2018-01-30 16:47] pmac commented on #2998
We talked a bit more in the meeting and decided to do it via a middleware in kitsune itself. This has a few benefits:

* Nothing else to run and monitor
* No need to make sure one is running in any other region
* It's fairly trivial to write as a Django Middleware

I'll see if I can knock it out soon.

[2018-01-30 16:54] pmac commented on #2998
I believe we can just use [this app](https://github.com/dabapps/django-enforce-host). I have a middleware I've used in another project, but this is basically that and just installable.

[2018-01-30 20:34] metadave commented on #2949
Sorry, should have dropped the bug # in when I created it last week:
https://bugzilla.mozilla.org/show_bug.cgi?id=1433561

[2018-01-31 14:24] glogiotatidis commented on #3012
We discussed @metadave's [suggestion](https://github.com/mozilla/kitsune/issues/3012#issuecomment-359654680) we concluded that's a good architecture that

 - Allows Multi Homing Kitsune, in two different kubernetes clusters in two different AZs albeit in the same region
 - Allows for automatic fail-over to a hot spare in a different region, which we can manually promote to r/w
 - Takes inter regio

[2018-01-31 14:27] glogiotatidis commented on #3012
**This is not the final architecture. It's saved here for historical reason. See top post for 2nd iteration.**

## Suggested Database Architecture (1st iteration).

 - Replication in RDS using MariaDB is known to work well.
 - The Arch defines:
   - A DB in **Oregon** as the **Master** database
   - Databases in  **other regions** (currently Frankfurt and Tokyo) as **Read Replicants** of the Maste

[2018-01-31 14:59] glogiotatidis commented on #3013
This is not the final architecture. It's saved here for historical reasons. See top post for 3nd iteration.

## Architecture (second iteration)

Our elastic search provider (elastic.co) creates instances with public IPs. Therefore instead of having the region local App instances update only the region local ES instance and signal the other App regions to do the same, each App instance can directly

[2018-01-31 15:00] glogiotatidis commented on #3013
@metadave can you please confirm that elasti.co provides MultiAZ ElasticSearch clusters?

[2018-01-31 16:25] jpetto commented on #3027
As [Wes mentioned in the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1431412#c4), this change should replace all existing GA on SUMO. What does this mean in terms of [googleanalytics.py](https://github.com/mozilla/kitsune/blob/master/kitsune/sumo/googleanalytics.py), which appears to feed an admin dashboard with GA reports? Will this file continue to function after replacing existing GA? I'm

[2018-01-31 16:47] metadave commented on #3015
https://discuss.newrelic.com/t/important-upcoming-changes-for-new-relic-servers-and-legacy-alerting-features/49474

[2018-01-31 17:02] bensternthal commented on #3027
From what I understand googleanalytics.py grabs a few data points via the ga API. Because the new GA js will continue to send data to the same GA account my thinking is this should behave normally. I looked through and most of the API calls grab basic data such as pageviews and number of visitors.

As far as I can tell I do not think any of the underlying data that is used to generate the reports

[2018-01-31 20:28] metadave commented on #3013
elastic.co allows us to select 1, 2 or 3 "data centers", but there isn't a description of what a DC is in this case. Since we're allowed to pick only 1 primary region, my guess is that 1-3 DC's == 1-3 AZs in a given region. Would you like me to contact elastic support to clarify?

https://www.elastic.co/cloud/as-a-service/pricing

[2018-02-01 08:35] glogiotatidis commented on #3027
Emailed Madalina and invited her to comment here.

[2018-02-01 09:33] glogiotatidis opened #3038 "Improve email sending"
It's known that some emails sent from Kitsune get missing (bug [1204515](https://bugzilla.mozilla.org/show_bug.cgi?id=1204515) and others).

This is a tracker issue to:

 - [ ] Upgrade [django-tidings](https://github.com/mozilla/django-tidings) and other email sending related libraries
 - [ ] Verify that we send one email per recipient as suggested by SES docs
 - [ ] Verify that current SES limits

[2018-02-01 10:17] glogiotatidis commented on #3038
DKIM bug https://bugzilla.mozilla.org/show_bug.cgi?id=1434862

[2018-02-01 18:10] madasan commented on #3027
There are multiple dashboards out there. We investigated this as a team and we couldn't identify which are the ones that might be affected. Can you give us more details as in which are the dashboards that are powered up by this code?

[2018-02-02 08:08] glogiotatidis opened #3039 "update_visitors_metric cron job raises error"
The cron job `update_visitors_metric` throws an errors on both SCL3 and AWS deployments and thus has been disabled.

[code]

[2018-02-02 09:50] glogiotatidis commented on #3013
we practically want HA and their page clearly says that 2 and 3 datacenters are for HA with automatic failover. That's good enough for me, thanks

[2018-02-02 14:26] glogiotatidis opened #3041 "Setup Datadog Monitor for `celery.lag` metric"
Part of #3015

[2018-02-05 09:34] glogiotatidis opened #3042 "Remove all references to troubleshooter addon"
In settings.py we have a url pointing to a Troubleshooter addon ([source code](https://github.com/mozilla/kitsune/blob/bd0db60e4394619f1e1843bdb4bc7f4b69349ef1/kitsune/settings.py#L931-L934)) which currently returns 404.

This Troubleshooter addon still a thing? If so we need to point this URL somewhere valid, otherwise remove all code references.

[2018-02-05 09:35] glogiotatidis commented on #3042
@madasan maybe can you shed some light maybe?

[2018-02-05 09:39] glogiotatidis opened #3043 "Add django security middleware"
Add and enable [Django SecurityMiddleware](https://docs.djangoproject.com/en/1.8/ref/middleware/#django.middleware.security.SecurityMiddleware)

[2018-02-05 09:40] glogiotatidis commented on #2984
See also #3043

[2018-02-05 13:28] glogiotatidis commented on #3030
This approach will be also useful while we're replicating from SCL3 to AWS to keep the Oregon based indices fresh for the READ_ONLY test and for when we actually flip the switch.

We want some like [`reindex_kb`](https://github.com/mozilla/kitsune/blob/master/kitsune/wiki/cron.py#L51) command but for questions. The command must support date filtering so we can reindex only the questions which have

[2018-02-05 13:32] glogiotatidis commented on #3014
https://github.com/mozilla/kitsune/pull/3034

[2018-02-05 14:18] glogiotatidis opened #3044 "update_search_ctr_metric cron job raises error"
The cron job `update_search_ctr_metric` throws an errors on both SCL3 and AWS deployments and thus has been disabled.

[code]
See also https://github.com/mozilla/kitsune/issues/3039

[2018-02-05 17:57] rtanglao opened #3045 "Remove django-badger"
**edit from @pmac**

We need to move away from django-badger as it's been abandoned for quite a while and is no longer serving our needs, and is blocking Django upgrades (see #3177). I believe the options are:

1. Steal the useful bits of django-badger and add them as an app in kitsune itself (kitsune/badger e.g.).
2. Find a new and well-maintained Django badge library and port our data and rules

[2018-02-05 19:01] metadave commented on #3045
The 2 broken images are behind the Cloudfront CDN, which points at an S3 bucket. I don't see the files/directories in S3.

- https://prod-cdn.sumo.mozilla.net/uploads/badge/b/5/b5bbb96c16466e29bfbda6b4b5f89506_image_1517814766_0579.png

- https://prod-cdn.sumo.mozilla.net/uploads/badge/2/6/26ed413cd3ad825d18590f987cc2d13a_image_1517820860_0173.png

[2018-02-05 20:23] pmac commented on #3030
I also like your idea from #3013 that the "master" data center can just ping all of the ES instances. Do you think it'd be best to just go ahead with that plan and not do this, or should we do this for now and move to the multi-region-ping thing later?

In either case yes, I'm ready to take this on.

[2018-02-06 13:55] glogiotatidis commented on #2949
This is now done. Update from bug

[code]

[2018-02-06 13:55] #2949 closed

[2018-02-06 14:10] glogiotatidis commented on #3045
It seems that django-badger is using ["Lots of hackery"](https://github.com/mozilla/django-badger/blob/master/badger/models.py#L88) when it comes to storing media files.

Since the project is practically abandoned since 2016 we need to
 1. evaluate whether the whole badge awarding procedure is something we want to keep (SUMO team owns that). Take into consideration also that django-badger is relat

[2018-02-06 14:36] glogiotatidis commented on #3045
Also since badger just writes to the FS, i've manually rsynced the badges from SCL3 to S3 and the images are working.

[2018-02-06 15:04] glogiotatidis commented on #3030
I think both approaches will work. I'm leaning towards your idea since we already have `reindex_kb` and the setup seems simpler than extending the to-be-replaced elasticutils.

[2018-02-06 16:58] pmac commented on #3030
We discussed in a meeting and this is the way we'll go. Thanks all! I'll get on this very soon.

[2018-02-07 03:00] pmac commented on #3030
I've had more of a look around in the code and I'm not seeing any modified date fields for articles, so this "index those modified in the last hour" approach might require a bit more work. Here's what I'm thinking now:

Instead of altering the Article model (and others) I'm thinking a single new model designed to capture the type, ID, and timestamp of a modification. This will allow us to easily q

[2018-02-07 09:01] glogiotatidis commented on #3030
Since Documents are wiki style and each save creates a new revision, maybe we can rely on revision.created timestamp?

[code]

[2018-02-07 10:57] glogiotatidis commented on #3030
We have the following mapping types:

 - kitsune.customercare.models.ReplyMetricsMappingType
 - kitsune.forums.models.ThreadMappingType
 - kitsune.questions.models.AnswerMetricsMappingType
 - kitsune.questions.models.QuestionMappingType
 - kitsune.users.models.UserMappingType
 - kitsune.wiki.models.DocumentMappingType
 - kitsune.wiki.models.RevisionMetricsMappingType

The first one (kitsune.custom

[2018-02-07 13:28] pmac commented on #3030
Great! Thanks for all that info. I missed the revisions clearly :( I was looking at `Revision` in `wiki/modes.py` which doesn't have a date, but failed to look at the base class `AbstractRevision`. New model to track changes proposal withdrawn :)

[2018-02-07 14:17] glogiotatidis commented on #3030
woohoo, full steam ahead! 🚂

[2018-02-08 15:16] glogiotatidis commented on #3025
fiy I've fresh traffic logs from SCL3 in my hands.

[2018-02-13 15:14] glogiotatidis commented on #3006
Also https://bugzilla.mozilla.org/show_bug.cgi?id=1436796

[2018-02-14 12:43] glogiotatidis opened #3057 "Use persistent database connections"
The MDN folks reported the persistent DB connections with RDS work really well. Let's do the same for Kitsune

See also https://github.com/mozilla/kuma/pull/4644/files

[2018-02-15 15:30] glogiotatidis commented on #2984
https://github.com/mozilla/kitsune/pull/3055

[2018-02-15 15:31] #2984 closed

[2018-02-26 08:13] glogiotatidis commented on #3043
Complete in 7768ca6df31e9bf8cc0046931bd55eba04883041

[2018-02-26 08:13] #3043 closed

[2018-02-26 08:36] glogiotatidis opened #3081 "Set ENGAGE_ROBOTS=False for stage"

[2018-02-26 08:36] glogiotatidis opened #3082 "Set ENGAGE_ROBOTS=True for prod"

[2018-02-26 08:37] glogiotatidis opened #3083 "Set HSTS_SECONDS on prod and stage"

[2018-02-26 19:24] glogiotatidis opened #3086 "Create synthetics monitors"
Create Synthetics monitors
 - [x] SUMO CDN
 - [x] Frankfurt Prod
 - [x] Oregon A Prod
 - [x] Oregon B Prod

[2018-02-28 09:49] glogiotatidis opened #3089 "Set EMAIL_LOGGING_REAL_BACKEND"
After switching to AWS set EMAIL_LOGGING_REAL_BACKEND to `django.core.mail.backends.smtp.EmailBackend`

[2018-02-28 09:50] glogiotatidis opened #3090 "[Tracker] Tasks after switching to AWS"
- [x] Enable robots.txt #3082
- [x] Enable email sending #3089
- [x] Set `READ_ONLY=False` #3091
- [x] Set `OIDC_ENABLE=True`

[2018-02-28 09:53] glogiotatidis opened #3091 "Set READ_ONLY= False"
After switching to AWS set `READ_ONLY=False` on prod in oregon-a and oregon-b only. Frankfurt must remain `READ_ONLY=True`

[2018-02-28 20:10] #3014 closed

[2018-03-05 09:38] glogiotatidis opened #3100 "Configure HPA (pod autoscaler)"
- [x] dev
- [x] stage
- [x] prod

[2018-03-05 09:39] glogiotatidis opened #3101 "Set / Validate k8s App limits"
Validate current k8s app limits and set limits where non-existent

[2018-03-05 17:46] #3030 closed

[2018-03-06 10:54] glogiotatidis opened #3106 "Remove ZenDesk"
ZenDesk integration is no longer used and can be removed.

[2018-03-06 12:30] glogiotatidis commented on #3031
https://github.com/mozilla/kitsune/pull/3088
https://github.com/mozilla/kitsune/pull/3103

[2018-03-06 12:30] #3031 closed

[2018-03-06 12:43] glogiotatidis commented on #3081
All dev, stage, and prod set to False for now. Will set prod to True after switching to AWS. See #3082

[2018-03-06 12:43] #3081 closed

[2018-03-06 16:01] pmac opened #3112 "Add middleware to add cache headers"
This will mostly be enabled when `READ_ONLY` is `True` since we'll be using a CDN in front of the site in `READ_ONLY` mode to reduce the load on our hot-spare cluster in the event of a failover.

[2018-03-07 15:52] #3112 closed

[2018-03-12 09:50] glogiotatidis opened #3117 "kitsune.sumo.middleware.PlugToSpaceMiddleware broken"
https://sentry.prod.mozaws.net/operations/sumo-aws-prod/issues/3207195/

[code]

[2018-03-12 16:41] turtleloveshoes opened #3118 "Will announcements work on the read only site during March 19?"
Can Admin's access the admin panel to create an announcement that needs to appear on the day you are doing the maintenance.

That url is here:
https://support.mozilla.org/admin/announcements/announcement/
or https://prod-tp.sumo.moz.works/admin/announcements/announcement/

Right now I do not know who has access to this. Will all of the announcements be migrated and work the same as the content tha

[2018-03-12 18:30] turtleloveshoes commented on #3118
Issue resolved.

[2018-03-12 18:54] #3118 closed

[2018-03-13 14:10] #3101 closed

[2018-03-13 14:11] #3100 closed

[2018-03-13 18:38] metadave opened #3125 "Setup weighted traffic policies for read-only prod test"

[2018-03-13 18:38] metadave opened #3126 "K8s load testing of production cluster"

[2018-03-14 06:26] jgmize commented on #3125
Proposed policies, to be tested in descending order:
- SCL3
  - 63.245.213.32
    - sumo.external.zlb.scl3.mozilla.com
    - use IP to reduce latency
    - confirmed dedicated IP not expected to change without notice
  - no health check
- SCL3/Oregon
  - 95/5 SCL3/Oregon
    - 5% of total traffic split 50/50 between oregon-{a,b}
      - 95/2.5/2.5
    - health check fall back to SCL3
  - 90/10 SCL

[2018-03-14 11:13] madasan opened #3128 "No e-mail confirmation link for new account (dev instance)"
Steps to reproduce
Go to https://dev.sumo.moz.works/ and try to create new account.
I get message that account has been created and need to check my email for confirmation link.

Expected behaviour
Confirmation link should be received via email

Actual behaviour
No confirmation link is received (inbox or spam folder). If I try to create another account with the same email address I get the message

[2018-03-14 11:18] madasan opened #3129 "No reset password link (dev instance)"
**Steps to reproduce**
Go to https://dev.sumo.moz.works/ and try to login. I get the message "incorrect password". I click on the "My password isn't working" link and enter email address. I get confirmation that a new password has been sent.

**Expected behaviour**
Reset password link should be received via email

**Actual behaviour**
No reset password link is received (inbox or spam folder).

[2018-03-14 14:03] glogiotatidis commented on #3129
Thanks for filing the issue @madasan .

I've changed the email settings and it should be working now. Can you please confirm?

[2018-03-14 14:03] glogiotatidis commented on #3128
Thanks for filing the issue @madasan .

I've changed the email settings and it should be working now. Can you please confirm?

[2018-03-15 09:58] madasan commented on #3128
Looks like it is working now, thanks!

[2018-03-15 09:59] madasan commented on #3129
It works, thanks!

[2018-03-15 09:59] #3129 closed

[2018-03-15 09:59] #3128 closed

[2018-03-15 11:54] #3086 closed

[2018-03-15 11:55] #3006 closed

[2018-03-15 16:28] pmac opened #3134 "Setup post-deployment tasks to run in automated deployment"
When we get automated deployment, don't forget to have `bin/run-post-deploy.sh` run once per deployment. Currently this will only run DB migrations, but this script could be used to run anything we need to do once per deployment.

See #3133

[2018-03-15 21:05] metadave commented on #3126
Below are some load testing results against SUMO prod. An ELB was created that **spans Oregon-A AND Oregon-B**, which gives us a more even load distribution across clusters. Additionally, we set the `WSGI_KEEP_ALIVE` value to 60, which seemed to reduce ELB Backend Connection Errors (see screenshot). The liveness check was changed from HTTP to `tcpSocket`, with an `initialDelaySeconds` values set t

[2018-03-16 09:40] glogiotatidis commented on #3126
Getting this error when trying to push to oregon-a and oregon-b. It appears related to the liveness changes made during the load test. Can you please update the templates?

[code]

[2018-03-16 20:08] metadave commented on #3126
https://github.com/mozilla/kitsune/pull/3136

[2018-03-16 20:21] metadave commented on #3125
I took a shot at creating new policy versions 11-15 for SCL3/Oregon testing. @jgmize can you take a look when you have a chance.

[2018-03-19 10:39] glogiotatidis opened #3139 "Remove all references to ethn.io and Treejack"
Confirm is ethn.io is something we still use, remove otherwise

https://github.com/mozilla/kitsune/blob/master/kitsune/products/jinja2/products/product.html#L92

- [ ] remove treejack waffle.switch
- [ ] remove waffle.flag('ethnio-all')

[2018-03-19 11:52] #3126 closed

[2018-03-19 18:29] bensternthal commented on #3139
Per Joni via email "We no longer need ethnio or Treejack. They were from past experiments."

[2018-03-21 10:37] glogiotatidis opened #3141 "Update CDN Failover Header Whitelist"
After #3140 gets merged, update CDN Failover Header Whitelist to only very on accept-language.

https://github.com/mozmeao/infra/blob/master/apps/sumo/infra/shared/cloudfront_failover/cloudfront_failover.tf#L35

[2018-03-21 14:00] metadave commented on #3141
CDN whitelist updated: https://github.com/mozmeao/infra/pull/755

[2018-03-21 14:14] #3083 closed

[2018-03-21 19:23] #2989 closed

[2018-03-22 06:49] rtanglao opened #3144 "all products icons are identical on mobile site in Firefox for Android 59.0.1"
All the icons at:
https://dev.sumo.moz.works/en-US/products
are the firefox desktop logo in Firefox for Android 59.0.1
Please see the following screenshot:
![40242305284_d296c2bc5c_o 1](https://user-images.githubusercontent.com/45195/37755341-575e58fa-2d62-11e8-98b6-aed90485f423.jpg)
this is the same as desktop but filing this issue just in case it's a real issue (my guess is it is not a real issu

[2018-03-22 09:45] glogiotatidis commented on #3144
This is a side effect of the data anonymization script run on dev and it's not a bug or plaform issue.

Thanks for reporting Roland.

[2018-03-22 09:45] #3144 closed

[2018-03-26 17:57] rtanglao opened #3150 "Site banner obscures submit button for support forum replies on Fennec 59.0.1"
March 26 banner obscures submit button for support forum replies on Fennec (Firefox for Android 59.0.1), see following screenshot from Note 8, Android 7.1.1 Nougat:
![40139235415_141e43fa55_o](https://user-images.githubusercontent.com/45195/37923539-375e72f8-30e4-11e8-9ef6-b378d8f69a8f.jpg)
This makes it impossible to reply to support forum questions from Firefox for Android.
There should be an "X

[2018-03-26 19:46] pmac opened #3151 "Support both OIDC and DB logins"
And restrict use of `/admin/` to users authenticated with OIDC only. I'll be investigating whether this is possible in this issue. If we can't support this quickly in a single instance we will deploy an admin-only version of kitsune that will only work with OIDC auth and allow use of the Admin, and turn off `/admin/` on SUMO proper.

/cc @glogiotatidis

[2018-03-26 19:49] pmac commented on #3151
I'm thinking we should be able to do this by detecting whether an authenticated user has certain OIDC keys in their session, e.g. ["oidc_id_token_expiration"](https://github.com/mozilla/mozilla-django-oidc/blob/5916a69ed7870053c4d4e194b45b42c2fac49496/mozilla_django_oidc/views.py#L54). Then we could have a separate middleware (or, more likely, a subclass of the OIDCRefresh middleware) that will on

[2018-03-27 13:19] NoahSUMO opened #3153 "[Investigate] A old user swap bug resurfaced during the AWS migration leading to some wacky side effects"
Hi guys! Just want to start by saying thank you for an awesome migration! It went as well as one could expect. :) I'm just going to mention the following issue in case it reappears or has somehow left some lasting side effects.

Back in 2013, we encountered a mysterious bug that made random users swap usernames & when they posted, they would post under that wrongly assigned username. There also wa

[2018-03-27 13:27] NoahSUMO commented on #3153
If we're able to investigate specific users, I'd take a look at these 2 accounts: https://support.mozilla.org/en-US/user/Zenos & https://support.mozilla.org/en-US/user/MSEL

They seem to be swapping between each other. And it looks like it happened only a hour & a half ago :X Waiting for confirmation from the user but according to the timestamp it looks like it happened today.
From looking at this

[2018-03-27 21:49] MadMattAu commented on #3153
I think you will find it was me and MSEL that were going in Circles.  I do not recall Zenos have any issues at all.

I became MSEL and MSEL became Lunaea.  I found signing in and out of the forum cleared the issue for me, so I assume some corruption in the cookie that was set.  Having said that,  it is a serious security issue if modifying the cookie can lead to changed of identity like that.  Wha

[2018-03-28 08:52] glogiotatidis commented on #3153
@MadMattAu did those happened during the AWS migration (i.e. this week) or are you talking about what happened in the past?

[2018-03-28 09:16] NoahSUMO commented on #3042
Hey Giorgos! I know about this Troubleshooter addon. I should really be checking the Kitsune issues filed here but didn't realize how active your team was here. Apologies!

This Troubleshooter addon was added a few years ago into our forum product to collect data from Firefox's about:support & insert it into questions posted by the user. Users were required to install the experimental addon back t

[2018-03-28 09:22] philipp-sumo commented on #3042
yes, that's correct - the troubleshooter addon was/is only needed for users below firefox 36 wanting to provide their system details during the ask-a-question-flow in the forum.

[2018-03-28 09:46] NoahSUMO commented on #3153
MadMattAu's case happened during the AWS migration.

We have a little more information from AliceWyman, who was also affected:
"I made the post as the other user a few minutes before [my last reply in the thread](https://support.mozilla.org/en-US/questions/1210357#answer-1093185), ... so it would have been around 3:05 pm EDT on March 26.

Yes, I stay logged into the forum as AliceWyman. When I rep

[2018-03-28 09:54] glogiotatidis commented on #3042
Thanks for the extra info! we shall remove then.

[2018-03-28 14:44] MkllTech opened #3154 "Clean out all references to Firefox OS"
Since Firefox OS is no longer maintained, the support section/forum for it should be removed.

[2018-03-28 14:46] glogiotatidis commented on #3154
Firefox OS is no longer developed but I'm not if we don't longer support it. @madasan can you please advise?

[2018-03-28 14:47] MkllTech opened #3155 "Common Responses do not exist when replying on the mobile version of SUMO."
Steps to reproduce:

Tried to Reply to a forum question using a Common Response on mobile version of SUMO Forums.

Actual results:

Common Responses are not an option on the mobile version of SUMO.

Expected results:

Common Responses should be available on the mobile version of SUMO.

Is this something that can be implemented any time soon?

[2018-03-28 15:03] MkllTech commented on #3154
The Marketplace on Firefox OS was also closed, not sure if theres any benefit to providing support for a dead end.

[2018-03-28 15:06] glogiotatidis commented on #3155
Thanks for report @MkllTech .

I don't think we will prioritize this one soon. We accept PRs now though!

[2018-03-28 15:13] glogiotatidis commented on #2961
Per Patrick this is no longer used and can be turned off.

[2018-03-28 15:13] #2961 closed

[2018-03-28 15:23] glogiotatidis commented on #3139
Thanks Ben!

[2018-03-28 16:37] MkllTech opened #3157 "On the get started article I get a notification to try Sync"
Is this the expected behavior?

[2018-03-28 17:06] AliceWyman commented on #3153
**@MadMattAu** you wrote above,

??? I know that I did NOT retain moderator functions while signed in as user wdrapkin because I was not able to delete posts as that user.  I had to sign out and sign back in as AliceWyman to delete the post I made as that user.

[2018-03-28 19:41] philipp-sumo commented on #3153
i have also seen the issue once now. i was logged out of the site and clicked on the "post a reply" button in a notification mail: https://support.mozilla.org/questions/1211145?utm_campaign=questions-reply&utm_medium=email&utm_source=notification&auth=XXX#answer-1093685
after that, i was signed in as the OP with all of their settings (site displayed in french)...

[2018-03-28 19:51] glogiotatidis commented on #3153
Thank you all for your input, it was really helpful. I'm going to copy/paste contents and remove this issue and continue discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=1449599

[2018-03-28 19:51] #3153 closed

[2018-03-28 22:44] AliceWyman commented on #3153
**@ glogiotatidis** You wrote:

That bug is restricted (Access Denied for me)

[2018-03-28 22:49] turtlelovesshoes opened #3161 "POST vs GET Autofill for Localizing does not show changes"
iRC: March 27, 2018 #sumo
Artist: does anyone have the same issue when localizing an article: edit text in the locale text box, klick on "preview" and then click on a link in the "preview" view. When I return to the article textbox (using the return arrow) all the edits I had made before in the textbox are gone and I only get the text from the current version. If I'm not completely mistaken the ed

[2018-03-28 23:12] TonnesM commented on #3161
Can confirm "losing" post data.. preview causes POST, then GET when fetching external link, then GET for (original) edit page. Not sure if last GET should cause cached postdata to be refilled, or if aws changed any of this. (I never clicked external links anyway when editing other than by right-click -> new tab, just to be safe.) Clicking internal page links should cause no loss and still don't, b

[2018-03-29 00:16] Costenslayer opened #3162 "unable to reset password via email"
hey I'm unable to reset my user password via email i get the following error below, I have now tried this several time
![sumo-pw-reset](https://user-images.githubusercontent.com/10689279/38062960-b0ce7d7a-32ee-11e8-8184-773a57233284.png)

[2018-03-29 00:20] bensternthal commented on #3162
Hi, we are currently doing some work that could cause some intermittent errors (apologies), please try back in an hour or so.

Again, apologies for the inconvenience.

[2018-03-29 00:57] bensternthal commented on #3162
Should be resolved.

[2018-03-29 00:57] #3162 closed

[2018-03-29 01:15] Costenslayer commented on #3162
thanks users can login but I'm no longer getting a password reset email through

[2018-03-29 01:29] bensternthal commented on #3162
Issue here was that costenslayer was using the wrong email. Emails are working.

[2018-03-29 02:01] NoahSUMO commented on #3153
Yes, restricted for me as well. That is undoubtedly a security bug where the work is taking place to fix the user swapping issue. Pretty sure they will beef up security to all the related components like user sessions & their cookies so that it is next to impossible for this to happen again.

Once they are confident the problem is fixed, I'm sure they'll drop the security flag as per Mozilla's tra

[2018-03-29 04:02] jgmize commented on #3151
Since https://github.com/mozilla/kitsune/commit/164afa6181c8854443bec56a33c858c30e2273fd has been pushed to production I have been unable to log in to the admin via OIDC/SSO. After authenticating, in the dev tools network panel I see
- a 302 to `https://auth.mozilla.auth0.com/authorize?client_id=REDACTED&protocol=oauth2&redirect_uri=https://support.mozilla.org/oidc/callback/&nonce=REDACTED&respons

[2018-03-29 09:04] glogiotatidis commented on #3151
@jgmize  you need to use your ldap email address in sumo and not aliases. I changed it for you. it should be fine now. Please confirm.

[2018-03-29 11:09] NoahSUMO commented on #3157
Can you link us to the exact article? Maybe even throw in a screenshot? :P I couldn't find this article you were talking about :)

[2018-03-29 12:52] MkllTech commented on #3157
Here is the article in question: https://support.mozilla.org/en-US/kb/get-started-firefox-overview-main-features

[2018-03-29 12:53] MkllTech commented on #3157
Relevant screenshot here: https://screenshots.firefox.com/22FVu6EOPFGooAEI/support.mozilla.org

[2018-03-29 13:38] MkllTech commented on #3157
This is a confirmed SUMO promotion as noted by NoahSUMO - Closing issue!

[2018-03-29 13:38] #3157 closed

[2018-03-29 15:11] jgmize commented on #3151
Thanks @glogiotatidis, that worked. I should have thought to check that.

[2018-03-29 15:11] #3151 closed

[2018-03-31 13:11] AliceWyman commented on #3153
@NoahSUMO you wrote,

It doesn't look as though [bug 1449599]( https://bugzilla.mozilla.org/show_bug.cgi?id=1449599) will be made public, even though the bug is fixed. See this discussion for more information:
https://support.mozilla.org/en-US/forums/contributors/712956 SUMO Security Incident

[2018-04-02 12:34] glogiotatidis opened #3168 "Force /admin to always use en-us"
/admin the last locale used by the python threads b/c it's in `SUPPORTED_NONLOCALES`. Force en-us when this happens.

See also how mozillians fixes this
  https://github.com/mozilla/mozillians/blob/master/mozillians/settings.py#L171
  https://github.com/mozilla/mozillians/blob/production/mozillians/common/middleware.py#L102

[2018-04-02 16:23] bensternthal opened #3169 "Implement Password Change Notification Emails"
In the event of a password change we should notify the user via email.

[2018-04-02 16:31] bensternthal opened #3170 "Audit And Evaluate Usage of Token Based Logins Via Email"
See original request for this feature:

https://github.com/mozilla/kitsune/pull/1757

My understanding of the actual usage of this feature is.. it aint very useful. In almost all cases the user was already logged in and the magic link did nothing. Will confirm it's usage and ideally get sign off on total removal

[2018-04-03 17:29] glogiotatidis opened #3172 "Create process and process enforcement tools for Secrets Management"
Current situation:
 - Secrets live in a separate encrypted repo
 - We want to push application secrets from developer laptops.
 - We want ensure that all devs have the latest secrets
 - We want to ensure that we don't override settings with an older version

Work:
 - Document the process of updating the secrets
 - Write a cli tool for this process which will ensure
   - that there're no uncommited

[2018-04-03 20:11] madasan commented on #3154
There might be some legal implications, we're checking and will update.

[2018-04-04 10:43] glogiotatidis opened #3173 "Improve performance of question_details view (mysql questions_question select)"
question_details view executes SQL queries that take a lot of time. Evaluate whether those queries can be removed, optimized and/or cached to improve performance.

This issue is related to the degraded performance SUMO experienced on Fri March 30th ([NR Error](https://rpm.newrelic.com/accounts/1299394/applications/45097089/downtime/34422892))

 - [question_details](https://rpm.newrelic.com/account

[2018-04-04 10:47] glogiotatidis opened #3174 "Improve performance of _get_creator_counts util function"
`kitsune.community.utils._get_creator_counts` until function is DB heavy and takes a lot of time to execute. Evaluate its usefulness and provide a way to optimize the query and/or cache the results.

This issue is related to the degraded performance SUMO experienced on Fri March 30th ([NR Error](https://rpm.newrelic.com/accounts/1299394/applications/45097089/downtime/34422892))

[2018-04-05 16:25] jgmize commented on #3174
There was another degraded performance issue just now related to DB slowness that is related to this.

[2018-04-05 16:26] jgmize commented on #3173
There was another degraded performance issue just now related to DB slowness that is related to this and also #3174.

[2018-04-06 19:19] bensternthal opened #3176 "Create separate administrative user identities."
Use normal identities to post, answer questions, etc. This limits the exposure of the admins and is consistent with Mozilla's best practices for admin accounts: https://mana.mozilla.org/wiki/display/POLICIES/Standard%3A+Admin+accounts

[2018-04-06 21:25] bensternthal opened #3177 "Upgrade Django to latest 1.11"
Kitsune is currently running [Django 1.8.15 ](https://github.com/mozilla/kitsune/blob/master/requirements/default.txt#L123)

Django 1.8 LTS support ended 1 April 2018, time to upgrade.

[2018-04-11 11:53] #3125 closed

[2018-04-11 11:53] #3091 closed

[2018-04-11 11:53] #3082 closed

[2018-04-11 11:53] #3089 closed

[2018-04-11 11:53] #3141 closed

[2018-04-11 11:54] #3025 closed

[2018-04-11 11:54] #3011 closed

[2018-04-11 12:10] glogiotatidis opened #3178 "Add Firefox Enterprise (ESR) to AAQ"
Bug https://bugzilla.mozilla.org/show_bug.cgi?id=1453192

Check list
- [x] Create product
- [x] Create topics that match the topics in `questions.config` mark them visible and in aaq
- [x] Link `English` AAQ Locale
- [x] Push code

[2018-04-11 12:39] glogiotatidis opened #3179 "IOError: [Errno 2] No such file or directory: '/app/media/uploads/products/logo-sprite-2x.png'"
https://sentry.prod.mozaws.net/operations/sumo-aws-prod/issues/3484380/

[code]

[2018-04-11 12:43] glogiotatidis opened #3180 "Fix Circle CI "Mysql has gone away" error"

[2018-04-11 12:49] glogiotatidis commented on #3117
Fixed in https://github.com/mozilla/kitsune/pull/3163

[2018-04-11 12:49] #3117 closed

[2018-04-11 12:54] glogiotatidis commented on #3057
Fixed in https://github.com/mozilla/kitsune/pull/3108

[2018-04-11 12:54] #3057 closed

[2018-04-11 12:56] #3026 closed

[2018-04-11 12:56] #3013 closed

[2018-04-11 12:56] #3012 closed

[2018-04-11 12:57] #2993 closed

[2018-04-11 13:04] glogiotatidis opened #3181 "Decom SCL3"
Tracker issue for all bugs and issues related to SCL3 decom

[2018-04-11 13:04] glogiotatidis commented on #3181
https://github.com/mozmeao/infra/issues/716

[2018-04-11 13:05] glogiotatidis commented on #2958
Replaced by https://github.com/mozilla/kitsune/issues/3170

[2018-04-11 13:05] #2958 closed

[2018-04-12 09:28] glogiotatidis opened #3182 "UnicodeDecodeErrorjinja2._markupsafe._native in escape"
https://sentry.prod.mozaws.net/operations/sumo-aws-prod/issues/3643913/

[code]

[2018-04-12 09:36] glogiotatidis opened #3183 "[traceback] DjangoTranslation instance has no attribute 'plural'"
https://bugzilla.mozilla.org/show_bug.cgi?id=1254199
https://sentry.prod.mozaws.net/operations/sumo-aws-prod/issues/3500060/

[code]

[2018-04-12 09:44] glogiotatidis commented on #3179
Related bug https://bugzilla.mozilla.org/show_bug.cgi?id=1453388

[2018-04-13 08:50] glogiotatidis opened #3186 "Automate Stage update with fresh L10n strings"
We need to provide a way for the translators to check their work before hitting production. Historically I've been manually pushing every Thursday to Stage which updates the strings. This gave a few days until Monday when I manually merged string repo from `master` to `production`.

While this process was not ideal kept things moving. We need to provide a solution for the AWS era.

1. Let's start

[2018-04-16 11:49] glogiotatidis commented on #3178
Blocked by #3179

[2018-04-17 07:04] glogiotatidis commented on #3179
https://github.com/mozilla/kitsune/pull/3188

[2018-04-17 07:04] #3179 closed

[2018-04-17 11:33] jcristau commented on #3179
Presumably this wasn't supposed to comment on https://bugzilla.mozilla.org/show_bug.cgi?id=3179#c3?

[2018-04-17 14:25] glogiotatidis commented on #3179
Indeed. We disabled bugzilla integration as we're moving to GH issues.

[2018-04-18 08:27] glogiotatidis commented on #3181
Filed a ServiceNow request to remove the old SAML based Auth0 app

[2018-04-18 08:36] glogiotatidis commented on #3181
Filed bug https://bugzilla.mozilla.org/show_bug.cgi?id=1454886

[2018-04-19 13:01] #3174 closed

[2018-04-19 13:37] #2915 closed

[2018-04-20 07:39] glogiotatidis opened #3193 "[admin] Wiki documents details view returns blank page"
All wiki document details views return a blank page. No sentry error gets raised.

- Bug https://bugzilla.mozilla.org/show_bug.cgi?id=1455351

[2018-04-23 22:01] turtleloveshoes opened #3200 "[Investigate] Top Contributor Behavior seems off"
Two quick sanity checks were that the top contributors showing today are not largely participating in the forums, they participate in other programs.

So this draws three questions:
1. Does the formula take into consideration the old #fxhelp tag from the social program? This would explain Mkll being 1
2. Does the formula take into consideration the support forum thread posts or the moderation queu

[2018-04-24 07:44] #3178 closed

[2018-04-24 12:37] NoahSUMO commented on #3200
Hope I can offer some insight. On 4/19, @safwanrahman let me know he was working on optimizations for the Top Contributors list & apologized in advance if it caused any issues. So this should be a temporary hiccup until he's done. Safwan, I tagged you here so maybe you can explain more about what you did & we can help you get it more accurate. And thanks again for working on this! :)

[2018-04-24 13:48] safwanrahman commented on #3200
@NoahSUMO @turtleloveshoes I am concerned about the issue and I have made a fix for that in #3192
Hope it will be merged and get deployed soon.

[2018-04-25 06:41] #3139 closed

[2018-04-25 07:32] glogiotatidis commented on #3200
Fix pushed to production. @turtleloveshoes can you please verify that this works for you?

[2018-04-25 07:56] safwanrahman commented on #3200
It seems to be fixed! https://support.mozilla.org/en-US/community/top-contributors/questions

The toppest contributor FredMcD is showing here, then others!
In support forum also! https://support.mozilla.org/en-US/questions/firefox
Thanks a lot @glogiotatidis for the review and deployment!

[2018-04-27 10:48] glogiotatidis commented on #3200
Thanks for fixing and verifying @safwanrahman

[2018-04-27 10:48] #3200 closed

[2018-05-08 05:55] glogiotatidis commented on #3170
@bensternthal i believe this is still valid? We probably want to remove email based login middleware altogether and we filed this issue to spend some time on that. Something changed?

[2018-05-08 16:10] bensternthal commented on #3170
Apologies I saw the reference "Remove TokenLogin Backend and Middleware" and thought that was removing it altogether.

[2018-05-11 18:22] pmac opened #3203 "Move from django-pipeline to Gulp for static asset processing"
Very much like I've done for bedrock in https://github.com/mozilla/bedrock/pull/5618 this covers removing django-pipeline and using a fully independent node:8 docker container for processing the static files as well as improving the developer experience. This may include significant changes to the docker strategy.

[2018-05-14 14:17] bensternthal commented on #3017
@pmac any chance you can take a look at this sometime this week?

[2018-05-14 14:44] pmac commented on #3017
Sure.

[2018-05-14 20:25] ryanleesipes opened #3204 "Add link to contribute to project"
Ryan here, I'm the Thunderbird Community Manager, and I was curious as to whether including a link to the Thunderbird product page labeled "Contribute to Thunderbird" would be accepted. I see how to do this, and could add it above the "Volunteer for Mozilla Support", but I wanted to ensure this was acceptable before I sent a pull request.

[2018-05-15 09:33] madasan commented on #3204
Hi @ryanleesipes

What is the desired outcome of this button? Is it to get people involved in Thunderbird development as a product or to get them involved in Thunderbird support?

We're in the process of setting up a full redesign for the site so we might be able to do something about it but first we need to understand what that link is supposed to do.

[2018-05-15 15:29] ryanleesipes commented on #3204
Get people involved in Thunderbird development.

[2018-05-18 07:48] glogiotatidis commented on #3181
:wave:

[2018-05-18 07:48] #3181 closed

[2018-05-21 16:19] sgarrity opened #3219 "Add Firefox download button to several pages"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1453140 for details.

[2018-05-21 16:19] sgarrity opened #3220 "Add Social Helpers icon to several pages"
Add Social Helpers icon on all the following pages:
https://support.mozilla.org/en-US/get-involved
https://support.mozilla.org/en-US/get-involved/questions
https://support.mozilla.org/en-US/get-involved/l10n
https://support.mozilla.org/en-US/get-involved/kb

[2018-05-21 16:20] sgarrity opened #3221 "Create a new Social support page"

[2018-05-21 16:20] sgarrity opened #3222 "Update home page contents"
- [x] Add a “Help articles” header above the product tiles

[2018-05-21 16:21] sgarrity opened #3223 "Update front page search bar"
Move search bar out of the header and make prominent on the home page with placeholder text “Find help…”.

Looks like this might end up on most (but not all) pages, according to the designs.

[2018-05-21 16:21] sgarrity opened #3224 "Update template styles"
- [x] Change “Ask a Question” link text to “Get Community Support”
- [x] Change background color on all pages to white
- [x] Change background color on header to black
- [x] Remove search from header when not scrolling
- [x] Update search input style
- [x] Match fonts and link styles to mozilla.org
- [x] Add Volunteer button to header

[2018-05-21 16:22] sgarrity opened #3225 "Update icons to use latest product logos"
These icons are managed in the /admin.

[2018-05-21 16:23] sgarrity opened #3226 "Update homepage styles"
- [x] Update icons to use latest product logos (Issue #2)
- [x] Match fonts and link styles to mozilla.org

[2018-05-21 16:23] sgarrity opened #3227 "Update footer styles"
- [x] Change background to black
- [x] Update Mozilla logo with black font on white background
- [x] Change link colors to white
- [x] Match footer links to the other mozilla.org properties

[2018-05-21 19:49] pmac opened #3228 "Investing adding an ORM level cache back to the site"
Kitsune used to use Django-Cache-Machine and it seems to have been somewhat engineered around the assumption that such a caching level would exist. Now that is has been removed we are noticing some of these inefficiencies that I believe were previously covered by this cache. This issue is to investigate the possibility of adding back such a cache at least in the short-term to relieve some of the s

[2018-05-21 19:52] pmac commented on #3228
To be clear this may be a bad idea, but I did want to discuss it. It was removed in bugs [1113162](https://bugzilla.mozilla.org/show_bug.cgi?id=1113162) and [1164091](https://bugzilla.mozilla.org/show_bug.cgi?id=1164091).

[2018-05-21 19:56] pmac commented on #3228
For example, [django-cacheops](https://github.com/Suor/django-cacheops#readme) looks good and updated and popular.

[2018-05-22 09:46] glogiotatidis commented on #3228
I like the idea and I believe we would help the site a lot. FTR we use [django-cachalot](https://github.com/noripyt/django-cachalot) in snippets but I'm all for trying django-cacheops.

[2018-05-27 21:12] ryanleesipes commented on #3204
@madasan did you see above? How long until the new site is implemented?

[2018-05-29 15:06] pmac commented on #3228
For the record I'd be happy with either `cacheops` or `cachalot`. If we're already using `cachalot` with some success then we should give that a try first IMO.

[2018-05-30 09:07] pyup-bot opened #3235 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2018-05-30 09:09] #3235 closed

[2018-05-30 09:30] glogiotatidis opened #3237 "Move dev.sumo.moz.works to Frankfurt k8s"
- [ ] Create dev db in SUMO rds
- [ ] Move sumo-dev to oregon-a
- [ ] Remove RDS `sumo-dev` in Frankfurt

[2018-05-30 09:33] glogiotatidis opened #3238 "Evaluate removal of surveygizmo integration"
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1416244

[2018-05-30 09:34] glogiotatidis opened #3239 "Move to django-jinja"

[2018-05-30 12:17] glogiotatidis commented on #3173
We-re not done here yet, re-opening

This is live on https://dev.sumo.moz.works

@safwanrahman can you please verify that this is working ok?

[2018-05-30 22:32] safwanrahman commented on #3173
@glogiotatidis It seems to be working perfectly!
https://dev.sumo.moz.works/en-US/questions/1204106

[2018-05-31 08:06] glogiotatidis commented on #3173
OK thanks @safwanrahman

I pushed this to production, also marked the deployment tag in NewRelic ([oregon-a](https://rpm.newrelic.com/accounts/1299394/applications/45098028/deployments/17459534) and [oregon-b](https://rpm.newrelic.com/accounts/1299394/applications/45097089/deployments/17459556))

I'll make a note to revisit in a few days to if I can find performance differences.

[2018-06-01 14:16] sgarrity commented on #3223
This will end up being addressed over in https://github.com/mozilla/kitsune/issues/3224

[2018-06-04 05:14] glogiotatidis commented on #3154
OK So Legal gave us the green light to go forward and clean out Firefox OS references. SUMO team will place a banner for 60 days on KB articles saying that we're going to clean them up.

AFAIK we have a) KB articles b) Questions

The open questions is now: "Do we completely remove all of them or do we archive them somehow?"

[2018-06-04 06:48] glogiotatidis commented on #3173
While this was a valid micro-optimization unfortunately it didn't create a visible difference in the graphs (vertical line is the deployment), thus I'm re-opening this. I suggest that next step is to look into #3228.

![image](https://user-images.githubusercontent.com/584352/40902117-86c3e0de-67db-11e8-8a87-3531f993bd0d.png)

[2018-06-04 20:33] jonisavage commented on #3154
Ideally we'd archive all the Firefox OS articles so contributors who've worked on them still have a record of their contribution.

As far as the banner goes, can we display it on the Firefox OS category and all its child pages?

[2018-06-06 08:18] AutomatedTester opened #3244 "known security issue in dependencies"
This is for jquery and for uglify. If the code isnt in use please can you remove so they no longer appear in the security reports

[2018-06-06 14:23] sgarrity opened #3246 "Add product type and filtering to product cards on front page"
Products don't currently have a 'type' ("Browser", "Mobile", "TV", etc.). This should be added to enable filtering by type on the front page.

See mockup:

![image](https://user-images.githubusercontent.com/58062/41044227-22f22514-697c-11e8-8de9-6cecb5c0b4f4.png)

[2018-06-06 17:10] mlagace commented on #3225
This will end up being addressed over in #3222.

[2018-06-13 12:33] sgarrity opened #3248 "Add popular shortcut links to topic cards"
![image](https://user-images.githubusercontent.com/58062/41351473-d773031c-6eec-11e8-86bf-8c0d73ee91b4.png)

[2018-06-18 14:16] #3170 closed

[2018-06-20 12:33] sgarrity commented on #3224
This is done over in https://github.com/mozilla/kitsune/pull/3243

[2018-06-20 12:33] #3224 closed

[2018-06-20 12:33] #3227 closed

[2018-06-20 12:36] sgarrity commented on #3223
Done in https://github.com/mozilla/kitsune/pull/3243

[2018-06-20 12:36] #3223 closed

[2018-06-20 12:37] sgarrity commented on #3219
This is being addressed in https://github.com/mozilla/kitsune/pull/3251

[2018-06-20 12:38] sgarrity commented on #3222
Being addressed in https://github.com/mozilla/kitsune/pull/3252 and https://github.com/mozilla/kitsune/pull/3225

[2018-06-20 12:40] mlagace commented on #3222
This was actually approved in this PR #3250.

[2018-06-20 12:40] #3222 closed

[2018-06-29 17:18] metadave opened #3260 "elastic.co Elasticsearch v2.4 EOL August 28 2018"
cc @pmac @jpetto @jgmize @bensternthal @glogiotatidis

[2018-06-29 17:20] safwanrahman commented on #3260
I suspect it will be hard to upgrade it to latest 5.x or 6.x!
BTW, what does it mean by support? Will they shut down the clusters?

[2018-06-29 17:43] metadave commented on #3260
I'm not sure if they'll shut down the cluster. MDN has the same issue.

![elasticsearch_2_4_eol_on_february_28__2018_ _mozilla](https://user-images.githubusercontent.com/58244/42106470-27d82fc8-7ba2-11e8-83ce-377fea424137.png)

[2018-06-29 17:47] safwanrahman commented on #3260
MDN is in better position than kitsune. they use a official supported library but kitsune use a custom library which is deprecated.

[2018-07-03 16:24] pmac commented on #3041
I believe this may have helped catch the [recent issues we had with email notifications](https://bugzilla.mozilla.org/show_bug.cgi?id=1472483). We should bump priority.

[2018-07-03 18:55] pmac commented on #3238
That bug is asking for the survey gizmos to be enabled again. I'm confused on what this issue is asking for.

[2018-07-04 00:09] jgmize opened #3262 "celery workers generating too many errors to sentry, filling logs with tracebacks from http 429 responses"
[code]

[2018-07-04 00:15] jgmize commented on #3262
when enough of the workers get stuck in this state then no more celery tasks are processed and the "SUMO Enqueue Lag Monitor Task" dead man snitch alert is triggered. To restart the workers I used the following in each k8s cluster:

kubectl -n sumo-prod get pods | awk '/celery/ {print $1}' | xargs kubectl -n sumo-prod delete pod

[2018-07-04 00:23] jgmize commented on #3262
There are thousands of errors matching this issue: https://sentry.prod.mozaws.net/operations/sumo-aws-prod/issues/3394808/

StopIteration: null
  File "kombu/async/hub.py", line 140, in fire_timers
    entry()
  File "kombu/async/timer.py", line 64, in __call__
    return self.fun(*self.args, **self.kwargs)
  File "kombu/async/timer.py", line 132, in _reschedules
    return fun(*args, **kwargs)

[2018-07-04 00:59] jgmize commented on #3041
As noted in https://github.com/mozilla/kitsune/issues/3262#issuecomment-402326478 there is an existing DMS alert for celery lag.

[2018-07-04 16:45] pmac commented on #3041
Yes, but DMS errors aren't exactly monitored and don't send alerts to devs and SREs. Perhaps we can have certain DMS alerts like this one bubble up if more than one is received?

[2018-07-05 16:40] pmac commented on #3017
Progress: I've narrowed it down to something to do with the Meinheld Gunicorn worker we're using. The feeds work fine using both Django's development server and the default `sync` Gunicorn worker. Investigation continues.

[2018-07-05 20:43] pmac commented on #3017
Feeds also work fine with the officially supported `gevent` worker (which uses `greenlet` like Meinheld). I'm not sure how the rest of the site would work with the `gevent` worker, but it might be worth a shot. Meinheld's maintenance is slow-to-none as well (last release in Nov 2016), so that's another reason to try something else.

Thoughts @jgmize @metadave @glogiotatidis @jpetto ?

[2018-07-05 20:45] pmac commented on #3017
I could put my changes in a branch, deploy that to one of the stage instances (maybe frankfurt) and we could test if you think it's worth it. I'm also still looking for issues in Meinheld to see if I can explain the behavior. I'm still not sure what makes the feed views special in this way.

[2018-07-05 20:57] pmac commented on #3017
PR above added for experiment with `gevent` Gunicorn worker class.

[2018-07-06 14:46] jgmize commented on #3017
While we may not have tested gevent with kitsune, we did with snippets-service and ran into errors. If a different gunicorn worker resolves the rss issue but introduces other errors on other urls, then we could put a path based ingress that directs just the rss urls to a new service backed by a separate deployment if needed.

[2018-07-06 15:50] pmac commented on #3017
I considered that, but I'm really quite uncomfortable with it. I don't think the changes are related to our issues, and that would mean running an unreleased version of a beta server... I just don't think it's a good idea.

[2018-07-06 19:59] jgmize commented on #3017
meinheld  is far from perfect, but it's been more performant and reliable than any of the other gunicorn workers I've tried, including gevent. I've tested gevent with several projects over the years, and each time it created more problems than it solved, often due to its monkeypatching of the standard library. Feel free to test it again though, it's been a while since I tried it last and things mi

[2018-07-06 20:12] pmac commented on #3017
I've played with uWSGI a bit today. It's another great WSGI server and has more options than Gunicorn, many of which could be useful to us. I got it working great locally, but every time I try to deploy it (in sync or async mode) all I get is:

[code]

Only running 2 workers. I don't know what the deal is. Papertrail for the stage app in frankfurt is so full of health checks that it's not of much

[2018-07-06 20:44] metadave commented on #3017
[code]
returns an `HTTP/1.1 200 OK` for me

[2018-07-06 20:48] metadave commented on #3017
I think we would need a load test/benchmark between current and future worker implementations.

[2018-07-06 20:57] pmac commented on #3017
I re-deployed the default image before posting here since it was basically down.

[2018-07-06 20:58] pmac commented on #3017
Agreed. I'm just looking for a configuration that works for now. Then we'll need a lot of testing for both accuracy and performance.

[2018-07-06 20:59] metadave commented on #3017
if you see `Back-end server is at capacity` again, wait ~10 minutes to see if the cluster automatically scales up.

[2018-07-06 21:01] pmac commented on #3017
It happened so immediately I was guessing it had something to do with processing or memory limits. I no longer had the time nor patience to work on it today so I reverted. I'll ping you next week to see if we can figure something out. I'm also planning on doing some more research into the current state-of-the-art for I/O heavy Python/Django web app deployment.

[2018-07-06 21:39] pmac commented on #3017
I think I'm also going to give [mod_wsgi-express](https://pypi.org/project/mod_wsgi/) a try.

[2018-07-07 15:10] jgmize commented on #3017
![screenshot_2018-07-07 a million requests per second with python freecodecamp](https://user-images.githubusercontent.com/161718/42412236-e3944464-81cd-11e8-8f47-05dbf2a50c93.png)

from https://medium.freecodecamp.org/million-requests-per-second-with-python-95c137af319

[2018-07-09 14:30] pmac commented on #3017
Also that article is 1.5 years old and Meinheld has seen 0 releases since.

[2018-07-09 14:34] pmac opened #3266 "Find a new WSGI server"
Meinheld is abandoned (no releases since Nov 2016). Issues like #3017 are due to poor spec implementation by Meinheld. We should find a well supported and active project to use for serving the site.

## Candidates

* [Gunicorn](http://docs.gunicorn.org/en/latest/index.html) + Gevent
* [Gunicorn](http://docs.gunicorn.org/en/latest/index.html) + sync
* [uWSGI](https://uwsgi-docs.readthedocs.io/en/la

[2018-07-09 21:18] #3017 closed

[2018-07-09 21:45] pmac commented on #3017
As you can see in the PR that closed this, we figured out what was causing the issues with Feeds + Meinheld. I'm still not sure why exactly this was an issue, but we've resolved it for now without having to switch WSGI servers. This situation could turn up again however, so we should continue investigating WSGI servers after we're done with #3177.

[2018-07-10 01:58] jgmize commented on #3266
from https://github.com/mopemope/meinheld/issues/92#issue-278320125

The other candidates may be more active from a maintenance standpoint, but none of the replacement candidates we've tested so far come close to matching meinheld's performance & reliability. The maintenance cost of meinheld may be high, but it may still be lower than replacing it, so we could consider taking over maintenance of t

[2018-07-10 02:35] jgmize commented on #3266
I agree. While you explore the existing alternatives, I'm going to explore https://github.com/jgmize/wsgi-ingress/issues/1 and do a little cost/benefit analysis on taking over maintenance of a mature but inactive project vs writing a replacement ourselves.

[2018-07-10 13:46] pmac commented on #3266
Hmm... That analysis you linked to is interesting. My take-away is actually more concern for the high error rates and latency with both Meinheld and Bjoern under load than with their speed (good as it was). The winner for me in that article for consistency, latency, and good-enough speed is mod_wsgi-express. Going to continue putting together a test for that one.

[2018-07-10 15:36] jpetto opened #3268 "Fix live search "selected" UI"
When using the live search on any page, the "selected" class applied to elements in the side bar or top bar is quoted twice, resulting in the class not being applied/UI not communicating which category is selected.

![screen shot 2018-07-10 at 9 50 58 am](https://user-images.githubusercontent.com/317532/42518233-fd4e380a-8426-11e8-9b7e-d01b826bda5d.png)

I believe this can be fixed relatively quic

[2018-07-11 16:40] sgarrity opened #3269 "Launch the redesign"
A visual update to the site has been done in the [may-2018-redesign](https://github.com/mozilla/kitsune/tree/may-2018-redesign) branch.

Items to address for/at launch:

- [ ] Update product images in `/admin` interface (the new images can be found in PR #3252)

[2018-07-11 18:10] jgmize commented on #3260
see also: #2990

[2018-07-11 18:13] jgmize commented on #3260
we should upgrade to https://github.com/elastic/elasticsearch-dsl-py

[2018-07-11 19:33] metadave commented on #3260
@pmac I've created a new ES 6.3.1 instance in elastic.co. Credentials have been pushed to the sumo private repo. DM me for details.

[2018-07-16 11:16] glogiotatidis commented on #3041
A Datadog monitor could help us identify lag increase which may go unnoticed by the 15' DMS interval.

[2018-07-16 11:19] glogiotatidis commented on #3238
In the bug the ask was to re-enable surveygizmo but it's 8 months ago, so I filed this issue to evaluate whether this is still needed or we can remove all related code. From the recent comments in the bug it appears this is still needed, so this issue is resolved: "Don't remove, make it work again"

[2018-07-16 11:19] #3238 closed

[2018-07-16 20:36] turtlelovesshoes commented on #3221
https://bugzilla.mozilla.org/show_bug.cgi?id=1385135

[2018-07-16 20:38] turtlelovesshoes commented on #2917
https://github.com/mozilla/kitsune/issues/2909 duplicate?

[2018-07-16 20:40] jpetto commented on #3269
What are the steps to get this launched? Do we need QA/review from design?

[2018-07-16 20:45] bensternthal commented on #2917
I'll just close this one out.

[2018-07-16 20:45] #2917 closed

[2018-07-18 07:43] glogiotatidis commented on #3041
Submitted PR https://github.com/mozilla/kitsune/pull/3270 to force restart of workers earlier.

[2018-07-18 09:02] glogiotatidis commented on #3041
I'm working on setting up [the monitor](https://app.datadoghq.com/monitors#5579780/edit).

We have to combine the data from `oregon_a` and `oregon_b` which supposedly datadog can do but I can't get it to work. Emailed support to get some help.

[2018-07-19 13:40] pmac opened #3271 "Move static asset hosting to s3"
The static files (JS, CSS, Images, etc.) are currently being served from the app servers. This can be an issue during deployment when some pods are serving new HTML while others don't yet have the new media files. This mismatch period can be several minutes since we deploy the 2 clusters separately.

See https://github.com/mozilla/bedrock/pull/5932

[2018-07-19 21:08] jpetto commented on #3269
I've updated the product icons on the [dev site](https://dev.sumo.moz.works/).

[2018-07-20 17:44] sgarrity commented on #3269
@Dinodog can you let us know if anything else is required here? As far as I know, this should be ok to roll out (given that the product icons get updated in production at the time of deployment).

I think we've got all of the icons for products that are on the production support.mozilla.org site. Unless there are products that show up in other locales, but not in en-US?

[2018-07-20 20:49] #3271 closed

[2018-07-21 15:43] rtanglao commented on #3269
Madalina and Patrick: We don't need Webmaker and Firefox OS am I right ?

[2018-07-23 12:22] glogiotatidis commented on #3041
After talking with Datadog support we found a way to combine the two metrics (*) into one Monitor:

`default(max:sumo_prod.oregon_a.celery.lag{*}, 0) + default(max:sumo_prod.oregon_b.celery.lag{*}, 0)`

This combines the two metrics with addition and uses default value of `0` when there's no value. The reason we're using default is that due to the nature of the metric: The task it's either execute

[2018-07-23 16:49] madasan commented on #3269
Hi @sgarrity

A few comments:

1. On the product documents page the article title links and body are almost indistinguishable on my Mac screen. The style for the links needs to be made more prominent.

![screenshot_2018-07-23 basic browsing firefox help](https://user-images.githubusercontent.com/10244340/43090767-f6e002a2-8eb0-11e8-9219-8c09dda5c934.png)

2.  The "These fine people helped write th

[2018-07-23 16:54] mlagace commented on #3269
Thanks @madasan for the feedback! @madasan, @sgarrity I can look at those issues and make the changes.

[2018-07-23 20:57] jonisavage commented on #3269
Thanks for working on this! In addition to Madalina's feedback I noticed one other thing:

The header on the product page (after clicking on a product from the home page) seems to look broken (Firefox Focus and "Help Topics" run into each other): https://screenshots.firefox.com/6yanUVI5AtOlRcOl/dev.sumo.moz.works

[2018-07-23 22:58] safwanrahman commented on #3269
I have a feeling that the login allignment is broken
![image](https://user-images.githubusercontent.com/7114151/43107305-38b14f4a-8efe-11e8-8a99-56b14343371f.png)

[2018-07-23 23:02] safwanrahman commented on #3269
There used to be a `download firefox` button in the header if browse from Non Firefox browser which is not present at this moment.
![screen shot 2018-07-24 at 5 00 48 am](https://user-images.githubusercontent.com/7114151/43107407-ae7ae6c8-8efe-11e8-839d-96368e39bb7e.png)

[2018-07-25 15:05] metadave opened #3273 "Investigate sumo-prod-cron"
sumo-prod-cron failed to start the celery lag job (July 25 2018), investigate why this happened and determine if we need to change how cronjobs work.

[2018-07-30 19:32] madasan commented on #3269
@mlagace @sgarrity any updates on the feedback we gave? We have a few more things to add but I was wondering whether you managed to have a look on what we have reported already.

[2018-07-30 19:34] sgarrity commented on #3269
@madasan I'll take a look, thanks!

[2018-07-31 13:57] glogiotatidis commented on #3045
See also
[SUMO Badges / Recognition Strategy after move of Kitsune to AWS](https://bugzilla.mozilla.org/show_bug.cgi?id=1439419)

[2018-07-31 17:10] sgarrity opened #3276 "Link on document pages need to be more visually prominent"
As described in this comment: https://github.com/mozilla/kitsune/issues/3269#issuecomment-407125115

[2018-07-31 17:10] sgarrity opened #3277 "Layout of "These fine people helped write this article" sections breaks in some cases"
As per this comment: https://github.com/mozilla/kitsune/issues/3269#issuecomment-407125115

[2018-07-31 17:11] sgarrity opened #3278 ""See also" suggested article links need to be more visually prominent"
As per item 3 on this comment: https://github.com/mozilla/kitsune/issues/3269#issuecomment-407125115

[2018-07-31 17:12] sgarrity opened #3279 "Confirm final front page product tiles"
As per item 4 on this comment: https://github.com/mozilla/kitsune/issues/3269#issuecomment-407125115

[2018-07-31 19:13] pmac commented on #3045
django-badger also does not support Django 1.11 (or really any Django > 1.8). We'll need to deal with this as a perquisite for #3177.

[2018-07-31 19:16] pmac commented on #3260
This has become a prerequisit for #3177 as well since our old ES library (elastic_utils) has Django integration which isn't Django 1.11 ready.

[2018-07-31 19:25] sgarrity commented on #3269
@safwanrahman The download button is included and should be showing up for non-Firefox browsers.  Is it not showing up for you? Which page and which browser? (thanks!)

[2018-07-31 19:58] sgarrity opened #3280 "Fix layout of sign-in form"
As per this comment: https://github.com/mozilla/kitsune/issues/3269#issuecomment-407227058

[2018-07-31 21:02] safwanrahman commented on #3269
@sgarrity I am using chrome  It does not show anywhere.

[2018-08-01 13:01] sgarrity opened #3281 "Add download button for non-Firefox browsers on home page"
It appears the header Firefox download button (that only shows in non-Firefox browsers) is not appearing on the home page. It should!

From this comment: https://github.com/mozilla/kitsune/issues/3269#issuecomment-407227694

[2018-08-01 13:01] sgarrity commented on #3269
@safwanrahman Ah, I see it's not showing up on the front page, but does on other pages. I've filed an issue: https://github.com/mozilla/kitsune/issues/3281 Thanks for reporting!

[2018-08-01 13:27] sgarrity commented on #3281
@madasan Can you help confirm the desired download button visible behavior across the site?

It appears the current rules apply on the live website:

Show Firefox download button in header on all pages EXCEPT:
 1. If the visitor is signed-in, do not show
 2. If the current page is the Firefox product page, do not show (as there is already a larger download button on that page)
3. If the visitor is

[2018-08-01 13:46] sgarrity commented on #3248
ToDo on this:
• Determine how these three articles are selected (is it the first three, by popularity, by editorial choice, etc.).
• Build the database capabilities for whichever selection method is chosen
• Determine the design if there are only 1, 2, or 3 articles in that section (do we still show "See All >"?)

[2018-08-01 14:09] sgarrity opened #3282 "Fix alignment of headings on some article pages"
As described in this comment: https://github.com/mozilla/kitsune/issues/3269#issuecomment-407198550

[2018-08-01 14:09] sgarrity commented on #3282
![image](https://user-images.githubusercontent.com/58062/43526795-6c94d4ca-957b-11e8-8378-288f2e60bc97.png)

[2018-08-01 15:14] Dinodog commented on #3226
Font for the homepage and child pages should be Zilla Slab.

On the dev site it looks like we are using Open Sans as the font.

[2018-08-02 17:09] michaelmccombie opened #3283 "Replace "Firefox Rocket" logo and copy with "Firefox Lite""
The rebrand for Firefox Rocket has gone live. So we need to update the copy and the logos used to refer to this product on support.mozilla

[Link to Play Store](https://play.google.com/store/apps/details?id=org.mozilla.rocket)

![image](https://user-images.githubusercontent.com/5924575/43599098-59f3a33a-963b-11e8-8363-80d87a2f5616.png)

[2018-08-02 17:11] michaelmccombie commented on #3283
I added two images to that zip folder. One is the square image used in the play store, the other image is was resized to match the images on this redesign demo https://dev.sumo.moz.works/en-US/

[2018-08-03 14:54] pmac opened #3284 "Research Increasing Support Forum Post Character Limit or Recommending Pastebin"
See [this post in the contributor forums](https://support.mozilla.org/en-US/forums/contributors/713108) for context. The tl;dr is that pastebin.m.o is slated for retirement and without another pastebin recommendation the support forums may need to support larger posts to accommodate the info copied from `about:support`.

My initial thoughts are that we should keep the support forum character limit

[2018-08-03 18:04] safwanrahman commented on #3284
I think we can ad the needed value to the `System Details` page or add a download button in the System details page so the contributor can download the full `about:support` data.

[2018-08-03 19:02] metadave commented on #3284
I'd recommend not putting any more load on the DB. At it's current size (`db.m4.4xlarge`) it's still getting hit with spikes >= 80% CPU.
![rds_ _aws_console](https://user-images.githubusercontent.com/58244/43660810-0d7e6442-972e-11e8-927a-a4141cd90ffa.png)

[2018-08-03 19:06] safwanrahman commented on #3284
The feature I proposed does not need aditional DB space, we already `about:support` data, but currently we show limited number of information, so the contributor needs to see more information.

[2018-08-03 19:10] pmac commented on #3284
@safwanrahman oh yeah. Like on [the question](https://support.mozilla.org/en-US/questions/1228221) linked to from that form post I see a whole lot of info when I click the "more system details" link. Is that not everything? Also how are we capturing that? I'm reading code now, but I'm now confused again about what they're asking for? For what are people using pastebin.m.o if not system details fro

[2018-08-03 19:20] safwanrahman commented on #3284
@pmac I believe there is not everything. Like ` Web Content Processes ` and many more.

[2018-08-03 19:26] pmac commented on #3284
Yeah, those things have come along since the last time this code was touched I'm sure. I wonder if we're saving it but not displaying...

[2018-08-03 19:33] philipp-sumo commented on #3284
improving the stuff that's showing up under "more system details" would certainly be very well received - maybe we can open a separate issue about it...

but since only a minority of question owners is opting to provide those details at the time of submitting their question, we certainly also need a way to ask for that data after the fact when the thread is already ongoing.

[2018-08-03 20:42] pmac commented on #3284
I pinged you on slack with an example (private in case the info is sensitive) but I do see `maxContentProcesses` and `currentContentProcesses` in the data.

+1 let's do that

It looks to me like an easy(ish) way around this is to provide the question asker a button on the page allowing them to attach this info if it's not already there. Would that be sufficient combined with improved access to sai

[2018-08-03 20:49] pmac commented on #3284
Oh. @safwanrahman you can see what data SUMO collects by going through the AAQ flow for Fx desktop, getting to the form, clicking the "share data" button, and then the "see the data" link that shows up. There's a whole lot of good stuff in there, but I'm guessing some things we would definitely not want to expose to the anonymous viewers of the question. Perhaps we could provide a full JSON downlo

[2018-08-03 21:20] Dinodog commented on #3284
Could we (or do we already) purge the about:support data collected after some time? I think a 45 or 90 day time period would do.

[2018-08-03 21:47] pmac commented on #3284
@Dinodog I don't believe we do, but it seems likely that we could. Do you want to do this for privacy reasons or just database size considerations?

[2018-08-03 21:54] pmac commented on #3284
I've talked a bit more with @safwanrahman and we've come to an agreement for this:

1. It seems my fears of adding load to the database for the troubleshooting data are unfounded since we already have mechanisms for storing this and are storing it for a lot of questions. So I don't think improving this feature will add significant load.
2. We should be able to accommodate the request from the orig

[2018-08-04 17:39] sgarrity commented on #3281
@Dinodog @madasan and I spoke about this on the phone. The conclusion is that we'll show the header download button on ALL pages, including the home page.

[2018-08-06 14:36] jpetto opened #3286 "Re-enable exit surveys"
See the bug:

https://bugzilla.mozilla.org/show_bug.cgi?id=1416244

[2018-08-06 19:28] pmac commented on #3284
I was playing with the AAQ feature, and I think the thing I mentioned above is already supposed to work. If you ask a question you can then edit your question later. The edit question form includes the button to add support data to your question. However, that button for me seems to be broken. Does it work for anyone here? Is this just a bug? If so I think all we need to do is:

1. Fix the ability

[2018-08-07 16:06] sgarrity commented on #3279
@Dinodog @madasan and I confirmed in a conversation last week the the products that have tiles on the front page will remain the same as what's there today on the production site.

@jpetto I don't have access to the stage admin. Can you help us update the product tiles on the front page of the stage site (https://dev.sumo.moz.works/en-US/) to match what's in production (or create an account for me

[2018-08-07 16:32] sgarrity commented on #3279
@jpetto has updated the stage site for us (thanks!). I think we're all set here: https://dev.sumo.moz.works/en-US/

[2018-08-07 16:32] #3279 closed

[2018-08-07 21:02] philipp-sumo commented on #3284
perhaps people posting with other browsers where the troubleshooting api doesn't work is also a case to keep in mind.

[2018-08-07 21:07] pmac commented on #3284
I wouldn't think people could get to about:support information from any other browser. Or do you mean that we sometimes need to help people with browsers they don't directly have access to? In which case we'll probably need an external suggestion anyway.

[2018-08-07 21:10] philipp-sumo commented on #3284
sometimes people post with crashing/page loading issues that make it difficult for them to use firefox while they're on sumo. but yes, in those instances getting to about:support might not be possible either...

[2018-08-08 06:30] glogiotatidis commented on #3041
I'm going to remove myself from this one. I've too many things on my plate atm and this is probably not a priority since we already have DMS in place.

[2018-08-09 20:37] #3286 closed

[2018-08-09 20:38] jpetto opened #3289 "Fix requirements.txt security vulnerabilities"

[2018-08-09 21:25] #3289 closed

[2018-08-10 02:32] Mikerr1111 opened #3292 "Python 3 Support"
I was looking over the [online documentation](https://kitsune.readthedocs.io/en/latest/hacking_howto.html#requirements) and saw there was support for Python 2.7. I was wondering if Python 3 is currently supported?

![python](https://user-images.githubusercontent.com/18353476/43935807-7beecc2e-9c0a-11e8-8883-110a998a5950.png)

[2018-08-10 13:55] #3292 closed

[2018-08-10 15:55] Mikerr1111 commented on #3292
Good to hear!

[2018-08-10 17:43] pmac opened #3293 "Update the Thunderbird logo on download buttons"
The Thunderbird logo was updated elsewhere on the site in [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1481621), but the logo on the download buttons still needs to be done. [This comment on the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1481621#c10) details the issue.

Basically buttons like that on the right side green button at:

https://support.mozilla.org/en-US/products/thun

[2018-08-10 18:39] jpetto commented on #3293
It shall be done.

[2018-08-10 19:38] pmac opened #3294 "Move from elasticutils to elasticsearch-dsl"
This will enable us to fix #3260 by supporting ESv6 and #3177 since elasticutils doesn't support recent Djangos.

[2018-08-10 21:16] pmac commented on #3293
Fixed in #3296

[2018-08-10 21:16] #3293 closed

[2018-08-13 21:53] pmac commented on #3293
Looks good in prod! Thanks again 💯

[2018-08-15 13:46] sgarrity commented on #3278
Will be fixed by https://github.com/mozilla/kitsune/pull/3298

[2018-08-15 13:46] sgarrity commented on #3276
Will be fixed by https://github.com/mozilla/kitsune/pull/3298

[2018-08-15 13:47] sgarrity commented on #3280
This is fixed by PR https://github.com/mozilla/kitsune/pull/3298

[2018-08-16 15:48] rtanglao commented on #3284
see also https://bugzilla.mozilla.org/show_bug.cgi?id=1480438#c22

[2018-08-16 16:37] metadave commented on #3273
I don't see anything unusual in the logs, other than the cron job delete and subsequent (re)start. We may need to increase verbosity of logging if this issue occurs again.

[2018-08-16 16:37] #3273 closed

[2018-08-25 01:33] Deepikap1 commented on #3268
@jpetto I would like to work on this issue.

[2018-08-28 17:42] metadave opened #3304 "Audit 3rd party libs for Django 1.11 compat"

[2018-08-28 20:01] jpetto commented on #3268
@Deepikap1 Feel free to submit a PR!

[2018-08-31 02:08] pmac opened #3305 "Optimize the /users/auth/ view"
For some reason traffic to this URL can cause the site some strain. Let's figure out why and fix it.

[2018-08-31 02:56] jgmize opened #3306 "monkeypatch_render should only be used in testing"
https://github.com/mozilla/kitsune/blob/69253e763ada10422d3c88e681bcb4af00e1eb4f/kitsune/sumo/monkeypatch.py#L105 will always evaluate to True, so monkeypatch_render is always called by patch_all, but: https://github.com/mozilla/kitsune/blob/69253e763ada10422d3c88e681bcb4af00e1eb4f/kitsune/sumo/monkeypatch.py#L143

[2018-08-31 08:46] safwanrahman commented on #3305
@pmac Can you point me to some New relic report?

[2018-08-31 14:50] #3306 closed

[2018-09-02 00:53] jgmize opened #3308 "TypeError: astimezone() argument 1 must be datetime.tzinfo, not None"
https://sentry.prod.mozaws.net/operations/sumo-aws-prod/issues/4653750/

ID: 3ebd91b63b514b3b8deed7cd294fc18c
Sept. 1, 2018, 9:21:56 p.m. UTC
Exception
[code]

URL	https://support.mozilla.org/en-US/questions/1231901
Method	GET

[2018-09-06 17:49] pmac opened #3310 "Add Firefox Reality product to AAQ"
[Firefox Reality](https://bugzilla.mozilla.org/show_bug.cgi?id=1485760)

- [x] Create product
- [x] Create topics that match the topics in `questions.config` mark them visible and in aaq
- [x] Link `English` AAQ Locale
- [x] Push code

See #3178 as an example of doing this

[2018-09-07 03:25] NotaWindowsUser opened #3311 "Modifying multiple About:Config Settings in one command/script?"
Is there a way to make a script that could modify about:config settings? Couldn't find a way to do this.

Could this be a future feature?

[2018-09-07 13:49] pmac commented on #3311
I'm not sure I understand. Do you mean give the SUMO site the ability to modify the browser settings of a visitor? That would open some major security holes I think.

[2018-09-07 23:50] NotaWindowsUser commented on #3311
I agree with that would be a big security risk. lol But what I mean is way for the Firefox user to import a XML/cfg/w.e file with all prefers settings that would apply to the about:config settings of the current user.

[2018-09-07 23:54] NotaWindowsUser commented on #3311
I'm in the wrong repository what would this go under? @pmac ;-;

[2018-09-07 23:54] #3311 closed

[2018-09-08 01:53] pmac commented on #3311
Oh. Yeah. For suggesting a Firefox feature you want [bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox). This repo is specifically for the support.mozilla.org website.

[2018-09-10 18:47] teeshirtman88 commented on #3306
What should only be used in testing don't understand

[2018-09-11 18:10] pmac commented on #3310
@glogiotatidis looks like you did this last. Do you have time soon to discuss this process with me?

[2018-09-13 10:04] glogiotatidis commented on #3310
invite sent! :mailbox:

[2018-09-14 16:48] jpetto opened #3315 "Help topics icons"
Based on [this comment](https://github.com/mozilla/kitsune/pull/3312#issuecomment-421390057):

I see in the [original PR](https://github.com/mozilla/kitsune/pull/3255) there [a comment](https://github.com/mozilla/kitsune/pull/3255#issuecomment-400673242) with [a link to the new icons](https://github.com/feathericons/sketch-feather).

However, I don't see a complete mapping of icons to help topics.

[2018-09-14 16:49] jpetto commented on #3315
cc @madasan

[2018-09-14 16:52] jpetto commented on #3281
Additional detail in [this comment](https://github.com/mozilla/kitsune/pull/3312#issuecomment-421388773)

[2018-09-14 17:55] jpetto opened #3316 "Add ability to attach a smaller product logo for product pages"
[The PR that replaced the product logos with the "?" SVG](https://github.com/mozilla/kitsune/pull/3255) [appears to have done so on purpose](https://github.com/mozilla/kitsune/pull/3255/files#diff-9fb8e903b164ade55bd42033512b9b29R21).

Are there mockups showing what should be used in place of the "?" SVG?

[original comment](https://github.com/mozilla/kitsune/pull/3312#issuecomment-421391396)

[2018-09-14 17:56] jpetto commented on #3316
cc @madasan

[2018-09-14 17:59] jpetto opened #3317 "Product icons are squished on mobile"
[original comment](https://github.com/mozilla/kitsune/pull/3312#issuecomment-421433208)

[2018-09-17 16:43] jpetto commented on #3316
cc @grailean

[2018-09-17 16:44] jpetto commented on #3316
For reference, here's [a link to the dev server](https://dev.sumo.moz.works/en-US/products/firefox) showing an example of the missing(?) logo treatment.

[2018-09-17 16:45] jpetto commented on #3315
cc @grailean

[2018-09-17 17:00] grailean commented on #3316
@jpetto the ? icon was intentional, in my design is different arranged and the icon is grayish.

[2018-09-17 17:06] teeshirtman88 commented on #3316
What does this mean and was this sent personally to me...

[2018-09-17 18:06] jpetto commented on #3316
@teeshirtman88 looks like [you are following this repo](https://github.com/mozilla/kitsune/watchers?page=3), so by default I believe you get notifications on new issues. You can change your notifications on this repo by going to the "Watch" menu near the top right of the screen. Hope that helps!

[2018-09-18 14:18] jpetto opened #3320 "Product icons are squished"
The new product icons are squished on multiple pages:

https://dev.sumo.moz.works/en-US/questions
https://dev.sumo.moz.works/en-US/questions/new

[2018-09-18 14:39] jpetto opened #3321 "Background color needs more contrast on support forum questions list"
The background color of the posts (white) does not provide enough contrast against the page background color (also white).

https://dev.sumo.moz.works/en-US/questions/all?show=all

[2018-09-18 14:44] jpetto commented on #3321
cc @grailean

[2018-09-18 15:52] pmac opened #3322 "Switch from NPM to Yarn for Node dependency installation"
Yarn will lock and cryptographically verify all dependencies so that we can get more repeatable deployments.

[2018-09-18 16:18] jgmize commented on #3322
https://mixmax.com/blog/to-yarn-and-back-again-npm is worth reading before moving to yarn.

[2018-09-18 16:57] pmac commented on #3322
Yarn has been working well for bedrock. Also the version of npm that comes with the latest version of Node that we can get to (`6.14.4` at present) is `3.10.10` and does not have the locking that npm 6 does. I think Yarn is our best way forward for the moment if we want repeatable deployments.

[2018-09-18 17:00] pmac commented on #3322
Seems like something to evaluate when we take a larger modernization step with our node stuff. I'm glad npm is good in 2018, but we can't use that version yet.

[2018-09-18 20:27] #3322 closed

[2018-09-18 21:39] #3317 closed

[2018-09-18 21:43] jpetto opened #3325 "Localization: wrap strings"
Some strings are not wrapped. See [original comment](https://github.com/mozilla/kitsune/pull/3312#issuecomment-422430593) with examples.

[2018-09-18 21:44] jpetto opened #3326 "Localization: re-asses font"
From the [original comment](https://github.com/mozilla/kitsune/pull/3312#issuecomment-422431299):

See original comment for screenshots.

[2018-09-19 01:39] jpetto commented on #3325
Hm, _most_ of the strings mentioned in the original comment do appear to be wrapped for translation, but _are_ new strings.

- [Find help...](https://github.com/mozilla/kitsune/pull/3312/files#diff-9f80997acbc5d299808f999b9f3c8e7dR9)
- [Help articles](https://github.com/mozilla/kitsune/pull/3312/files#diff-2acaaa594db84287602d1993a32ca26cR11)
- [Get community support](https://github.com/mozilla/ki

[2018-09-19 13:57] jpetto commented on #3316
Archive of product icons sized for this specific layout:

https://www.dropbox.com/s/120m4nottujckq3/product_icons.zip?dl=0

[2018-09-19 14:57] vesper-mozilla commented on #3325
@jpetto for localization, we have the following documentation explaining how it's done on Kitsune: https://kitsune.readthedocs.io/en/latest/localization.html - I hope this helps.

[2018-09-19 20:14] jpetto commented on #3315
@madasan The icons on dev have been updated, save for on *Firefox for Enterprise*, which doesn't have topics on dev. Here are the icons for that product:

- Policies ![layers](https://user-images.githubusercontent.com/317532/45778472-49eb5380-bc1e-11e8-8de4-20ae07a5f884.png)
- Installation ![folder-plus](https://user-images.githubusercontent.com/317532/45778506-5ff91400-bc1e-11e8-82c5-e65a34bf7341

[2018-09-19 20:20] jpetto commented on #3325
@vesper-mozilla I believe all new strings are wrapped according to the docs. Does anything else need to be done here?

[2018-09-19 20:42] jpetto opened #3328 "Improve spacing next to product name on product help topics page"
Add padding between product name and "Help topics" text on all product pages.

For example, notice how ["Firefox for Fire TV" bumps up against "Help topics"](https://dev.sumo.moz.works/en-US/products/firefox-fire-tv).

**Interim fix until final design can be implemented**

[2018-09-20 09:07] vesper-mozilla commented on #3325
LGTM, thank you!

[2018-09-20 13:26] #3325 closed

[2018-09-20 13:44] jpetto opened #3330 "Standardize case in/when using get_browser function"
The [`get_browser` function](https://github.com/mozilla/kitsune/blob/69253e763ada10422d3c88e681bcb4af00e1eb4f/kitsune/sumo/utils.py#L334) matches ignoring case, but returns whatever case is present in the user agent string. To make this function more stable, we should return only lower case strings.

[2018-09-20 21:01] #3328 closed

[2018-09-20 21:02] #3320 closed

[2018-09-21 18:59] pmac opened #3332 "Allow filtering the questions API by date range"
The `created` and `updated` datetime fields should be filterable by ranges or other date-appropriate Django filter types (e.g. `month`, `hour`, `year`, etc.).

[2018-09-21 20:39] jpetto commented on #3281
To get the final requirements in this issue, copy/pasting from the [original comment](https://github.com/mozilla/kitsune/pull/3312#issuecomment-421388773):

The [current logic](https://github.com/mozilla/kitsune/blob/master/kitsune/sumo/jinja2/base.html#L180) also includes a check for `user.is_authenticated()`, which, if true, will ensure the download button is _not_ shown.

@madasan Please confir

[2018-09-24 14:43] #3277 closed

[2018-09-24 22:09] jpetto commented on #3281
The logic for the in-page buttons is:

If the current product is Firefox, whether on the product page, the help topics page, or any specific article page, show the download button **UNLESS** the visitor is already using Firefox.

[2018-09-25 02:39] LunarTwilight opened #3335 "JS error on login page"
Go to https://support.mozilla.com/en-US/users/auth and open the console
![image](https://user-images.githubusercontent.com/13520392/45989677-231b8b80-c029-11e8-818c-694dbcd82535.png)
(screenshot b/c it wouldn't let me copy the full message)

[2018-09-25 15:43] #3281 closed

[2018-09-25 17:02] pmac commented on #3321
Also got some feedback via email on this:

[code]

We probably could use an a11y audit for the new colors and fonts.

[2018-09-25 17:32] pmac commented on #3321
Separate issues is probably a good idea for keeping the work chunks at a reasonable size and visibility of the issues.

[2018-09-26 15:13] vesper-mozilla commented on #3325
Hi @jpetto. Looks like it did not work as expected. I do not know why that would happen, since your PR should have done the trick.

The strings are live, but Pontoon is still not showing them as localizable: for example https://pontoon.mozilla.org/pl/sumo/all-resources/?search=Find+help or https://pontoon.mozilla.org/pl/sumo/all-resources/?search=Volunteer

OTOH, some strings for the redesign have

[2018-09-26 18:13] pmac commented on #3325
Oh that's probably my fault. I need to do another extract and merge to get the new strings into the l10n repo. I'll do that today.

[2018-09-26 19:11] pmac opened #3336 "Add fall-back stylesheet for cases where CDN assets fail to load"
The CSS, JS, and many images are hosted by the static asset CDN for SUMO. This uses a different domain and TLS cert than support.m.o, and therefore may fail to load in some cases when the HTML from support.m.o does (e.g. using IE in Windows XP, or if the DNS for the CDN domain fails to resolve). We should add some minimal default styling for this case that is loaded from the support.m.o domain tha

[2018-09-26 23:53] jgmize commented on #3336
See also https://github.com/mozilla/bedrock/pull/4143

[2018-09-27 01:49] pmac commented on #3336
@jgmize is there something specific about that PR that we should see? Looks like a big one with a lot of conversation.

[2018-09-27 16:21] #3280 closed

[2018-09-27 16:21] #3278 closed

[2018-09-27 16:21] #3276 closed

[2018-09-27 16:22] #3269 closed, assigned to nobody

[2018-09-27 18:30] pmac commented on #3325
I have updated strings in github, and have pulled in new translations. An updated build is live on stage now that I think improves things. I'll be pushing it to prod shortly.

[2018-09-27 19:39] pmac commented on #3325
I've deployed the string updates to prod. More will be coming in during the next several days. I'll try to update the site often to fix more of this issue as we can.

[2018-09-27 20:50] bensternthal commented on #2998
Re-opening. As far as I can tell this is currently not working.

[2018-09-27 21:16] pmac commented on #2998
Indeed it is not. Thanks Ben. I'll investigate.

[2018-09-27 21:29] jgmize commented on #2998
it looks like we never set the `ENFORCE_HOST` setting: https://github.com/mozilla/kitsune/commit/289a400abffd44937c884dca7f6ef409cb7abaa0#diff-1b868c345b3f49304922084d892d74caR1046

[2018-09-28 00:06] jgmize commented on #3336
https://github.com/mozilla/bedrock/pull/4143/files#diff-ae461e40dbbb323955a43a43fa0822ab shows an example of sourcing an alternative minimal stylesheet for IE <= 8 in the base template. After reviewing that PR and searching the kitsune codebase, I found that we already use this technique in https://github.com/mozilla/kitsune/blob/master/kitsune/sumo/jinja2/base.html#L35-L40. I would advocate follo

[2018-09-28 19:46] pmac commented on #2998
Had an issue with monitoring and had to revert. Working on another PR for that now.

[2018-09-29 20:28] afarsi opened #3341 "RTL problems of 2018 redesign"
There is a problem in language(locale) selector of newer version of #sumo when a RTL language selected.
Name of locale is on the earth and only left side of language selector is active and responsible!
Look at top of page at
https://support.mozilla.org/fa/
https://support.mozilla.org/ar/
https://support.mozilla.org/he/

[2018-09-29 20:32] afarsi commented on #3341
![image](https://user-images.githubusercontent.com/19834847/46250266-783f0f00-c426-11e8-8f6f-df5540eb2b16.png)

Look at place of magnifier in search bar. It's invalid. It should be on left side of search bar in sumo main page.

[2018-09-29 20:38] afarsi commented on #3341
Place of main menu items are invalid for a RTL page too..,
Main menu should be near Support Logo(Like English Version)
Get Community Support should go to right side, not left side. after it, Contributor tools, then Profile menu and after it, inbox.
Language selector should be on left side.
Completely mirror of English Version.

[2018-09-30 17:38] jgmize commented on #2998
this was automatically closed when I merged #3340; re-opening until this has been deployed and verified in production.

[2018-10-01 16:04] jpetto commented on #3325
Just making sure we're good code-wise on this issue. @vesper-mozilla - any code changes needed, or did @pmac's work take care of the issue?

[2018-10-01 22:46] pmac commented on #2998
This is now fixed and deployed to production. Thanks for the help all!

[2018-10-01 22:46] #2998 closed

[2018-10-02 10:22] vesper-mozilla commented on #3325
Thanks for working on this, @pmac and @jpetto - I understand the site will be getting updated gradually? We can still see stuff in English for Spanish, for example - https://support.mozilla.org/es/

Cheers!

[2018-10-02 14:28] jpetto opened #3343 "After the visual update, as a moderator I cannot mark an answer as solution"
See the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1495297

[2018-10-02 14:45] pmac commented on #3310
Calling this one done. I'll open a new one for the Amazon stuff.

[2018-10-02 14:45] #3310 closed

[2018-10-02 14:46] pmac opened #3344 "Make Amazon product changes in AAQ"
[The bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1488581)

Go Live date is Oct 11

- [x] Create product
- [x] Create topics that match the topics in `questions.config` mark them visible and in aaq
- [x] Link `English` AAQ Locale
- [ ] Push code

See #3178 as an example of doing this

[2018-10-02 15:38] jpetto commented on #3343
Madalina clarified that this is not a bug. Closing.

[2018-10-02 15:38] #3343 closed

[2018-10-02 19:47] jpetto opened #3346 "Search UX is jarring to some users"
See the bug entitled _Trying to type in search window causes page to flash_: https://bugzilla.mozilla.org/show_bug.cgi?id=1495660

[2018-10-03 14:29] #3316 closed

[2018-10-03 16:20] bensternthal opened #3347 "Add UTM params to Firefox download buttons"
As reported in this https://bugzilla.mozilla.org/show_bug.cgi?id=1495841 UTM tracking is now missing from Kitsune.

Poking a little deeper I see the following github prs that looks to revert a lot of the custom JS tracking we had implemented as part of the SCL3 migration.  It looks like this was meant to be temporary but I do not see it being re-enabled (unless i am on the wrong branch).

https://

[2018-10-03 16:22] bensternthal opened #3348 ""I have This Problem Too" UI Appears In Wrong Spot"
Two call to actions, clicking the top one .. the dialog appears next to the other one.

https://bugzilla.mozilla.org/show_bug.cgi?id=1496045

[2018-10-03 20:43] jpetto opened #3351 "Reset & re-run migrations"
Running `./manage.py migrate` (stage and prod) results in many migrations shown as not having been run.

Additionally, a warning that further migrations need to be created is posted (which we may be able to ignore).

Plan is to wipe the migrations table and FAKE re-run all to ensure the DB and actual migration files are in sync.

[2018-10-03 20:44] jpetto opened #3352 "Document prod to stage DB sync and manual sync/restoration process"

[2018-10-03 20:44] jpetto opened #3353 "Get migrations running on deployment"
Currently, DB migrations need to be run manually. We should automate these for safer and faster deployments.

[2018-10-03 20:45] pmac commented on #3351
Also to delete the `migrations/*.py` files we currently have, then generate new initial migrations. Basically a migrations squash.

[2018-10-03 20:58] jpetto opened #3354 "Fix Thunderbird download button UX"
The download button breaks the header copy layout:

https://support.mozilla.org/en-US/products/thunderbird

<img width="852" alt="screen shot 2018-10-03 at 3 58 03 pm" src="https://user-images.githubusercontent.com/317532/46439057-24ce0900-c725-11e8-909f-558d851dbaf4.png">

[2018-10-04 18:39] jpetto opened #3356 "Update .editorconfig"
The existing `.editorconfig` file specifies a default of 4 spaces, but nearly all files use 2 spaces.

[2018-10-04 19:31] pmac commented on #3356
Except the Python files which always are 4.

[2018-10-04 19:35] jpetto commented on #3356
The `.sh` files seem to always be 4 spaces as well. Update will only target `.html` and `.less` files specifically.

[2018-10-04 19:45] #3356 closed

[2018-10-04 20:14] jpetto opened #3359 "Revert to using square/alternate product icons where appropriate"
The newly added square/alternate product icons are a better fit than the rectangle icons in many places across the new design.

[2018-10-05 18:40] pmac commented on #3045
That is a known issue with our current setup as well. It's because the model fields are not using our default storage systems, but trying to use file system specifically, which doesn't play well with how we do things in Docker and AWS. We do need to fix it, but I think we should do so after we land this first PR.

[2018-10-05 18:43] pmac commented on #3045
This is the issue pointed out in the original issue above and in the linked bugs.

[2018-10-05 18:45] pmac commented on #3045
The primary thing to test for the current changes is whether there are no changes from production functionality. We want to get rid of django-badger with no loss of function (people still have the badges they had, and people still get the badges they earn), and then we can improve things after that.

[2018-10-05 22:04] bachmeil opened #3361 "Thunderbird unable to open message"
Thunderbird is unable to display an email message that others (Outlook and Fastmail) are able to display. This is true on 60.2.1 64-bit and 52.9.1 64-bit on Ubuntu 16.04.
[cantopen.txt](https://github.com/mozilla/kitsune/files/2452370/cantopen.txt)

That's an eml file but I was required to change the extension to attach it.

[2018-10-08 17:47] #3359 closed

[2018-10-08 17:56] jpetto commented on #3347
It appears all GTM JS is currently in place on production - on the whole, GTM/GA *should* be functional.

According to the bug, what appears to be missing (or what needs to be added) are `utm_` params on the Firefox download buttons.

[2018-10-08 21:29] pmac commented on #3361
This repo is for development of support.mozilla.org. If you're having a problem with Thunderbird you should be able to find some help by asking your question here:

https://support.mozilla.org/en-US/products/thunderbird

[2018-10-08 21:29] #3361 closed

[2018-10-09 00:55] bensternthal commented on #3347
Hmm, what I thought I saw in those two prs was all the custom tagging I did for analytics pros being reverted, and I do not think it was "remerged" post AWS migration.

[2018-10-09 15:29] #3347 closed

[2018-10-09 17:41] #3341 closed

[2018-10-10 14:48] jpetto commented on #3347
I see the initial GTM code (original commit: https://github.com/mozilla/kitsune/commit/33be297922ad64b5dcc10808752d6cd1896348d6, re-merge commit: https://github.com/mozilla/kitsune/commit/6ba4ae85dfb01806283c97465509c25291be4eb5) and the custom tagging code (original commit: https://github.com/mozilla/kitsune/commit/1331ca19fa8149d21e8031c5676545b13d32a9f2, re-merge commit: https://github.com/mozi

[2018-10-10 15:23] bensternthal commented on #3347
I think we are good. I'm not sure what I was looking at where the changes appeared to have not been remerged. Sorry for the wild 🦆 chase.

[2018-10-10 16:45] nukeador commented on #3325
Same here, still a lot of English strings in the Spanish site.

[2018-10-10 16:47] nukeador commented on #3325
![imagen](https://user-images.githubusercontent.com/531906/46752237-fddf7c00-ccbc-11e8-995b-5b58dca73794.png)

[2018-10-10 21:09] #3344 closed

[2018-10-11 10:05] vesper-mozilla commented on #3325
Thank you for reporting, @nukeador!
@pmac @jpetto - looks like those strings ("Found X results...", "We couldn't find any results for QUERY in LANG. Maybe one of these articles will be helpful?") are already in Pontoon (and approved) - just not getting pulled into the site for some reason. Probably another update will fix this issue?

Thank you for staying on top of this, everyone. I really apprec

[2018-10-11 16:04] jonichan opened #3366 "Don't show any logo/icon if none is uploaded"
We currently show a gear icon or a nurse icon by default for a topic or product if we don't have an image uploaded. There are cases when we don't need an icon, so we shouldn't show one if none is uploaded.

For example, I had to upload an icons for "Firefox for Fire TV" and "Firefox for Echo Show" under the Firefox for Amazon Devices page just so we wouldn't show the gear icon.: https://support.mo

[2018-10-11 16:45] pmac commented on #3366
The design does call for some kind of icon for those boxes. I do personally think that the gray box needs a little something more than words to make it clear it's an action. In this case you could just use the Firefox logo for all 3 much like the Firefox product does for the square page icon:

https://support.mozilla.org/en-US/products/firefox

[2018-10-15 19:02] #3045 closed

[2018-10-16 15:54] jpetto opened #3371 "Fix badges media storage/file upload"
As a carry-over from django-badger, file uploads in the `kbadge` app currently do not work/support S3 storage.

Should update `kbadge` to use the standard S3 file storage.

See #3045.

[2018-10-17 04:46] jgmize opened #3373 "top_contributors_questions DB queries are too expensive to include in questions_list view"
We have had repeated performance problems where the DB CPU gets stuck near 100% due to queries similar to the following:
[code]

While the CPU is spiking, I could see many, many examples of this query in a MySQL `show processlist`, and you can also see an example of this query (and the ~20 sec execution time) [in NR](https://rpm.newrelic.com/accounts/1299394/applications/45097089/datastores#/overv

[2018-10-17 16:04] pmac commented on #3373
We had a great discussion about this and we think we have a good path forward. The deal is this:

The query above generates the "Top Contriburors" list on the questions list pages (there is one for every product, and one for all products). This feature is revealed by hovering over the "Top Contributors" button on the list page on the right side:

<img width="978" alt="screen shot 2018-10-17 at 11

[2018-10-17 16:12] pmac opened #3374 "Add "top contributors" back to the questions list pages"
In #3373 we removed the "top contributors" list from the questions list pages. In this issue we need to bring that feature back, but in a way that never has a cache miss. It should be pre-calculated on a schedule (daily should be fine) and always displayed using that data. We can bring back the old UI for now, but there is some interest in a better UI for this that is not hidden by default.

[2018-10-17 19:13] #3373 closed

[2018-10-18 23:54] pmac commented on #3374
What we actually ended up doing is to change the "top contributors" hover list into a link to the full top-contributors page for that product. This is I think a good final solution. However, we can discuss here whether or not to add back to the questions list pages a list of top contributors there in addition to the link to the full list page.

[2018-10-20 13:18] jyox007 commented on #3374
![bio](https://user-images.githubusercontent.com/42260543/47256137-7faf7200-d440-11e8-8ca7-dbc84262b025.jpg)

[2018-10-21 17:24] omkar-dsd opened #3380 "Setup Issue: Bower version error"
On executing the setup command:
[code]
Gives the following error.

[code]

I tried updating Node version to the latest (10.12.0) and latest LTS (8.12.0). Error still persists.

### Complete Error:
[code]

[2018-10-22 02:13] pmac commented on #3380
We ran into that recently and fixed it I thought. Try running the `docker pull` steps again from earlier in the readme to get the latest images.

[2018-10-22 17:11] omkar-dsd commented on #3380
Are these compatible? I am still getting this issue.

[2018-10-23 17:00] bensternthal opened #3383 "Get Community Support -> Firefox OS Link Results in "This page is does not redirect properly error""
From here:
https://support.mozilla.org/en-US/questions/new

Click:
https://support.mozilla.org/en-US/questions/new/firefox-os

Results in "The page isn’t redirecting properly" error.

[2018-10-23 17:04] pmac commented on #3383
Woah. After getting that error go back to the home page. I see:

![screenshot_2018-10-23 mozilla support](https://user-images.githubusercontent.com/19176817/47377765-25bede80-d6c4-11e8-859b-1c91f79528ef.png)

[2018-10-23 17:05] pmac commented on #3383
My guess right now is that someone removed the Firefox OS Product from the DB but it's still in AAQ b/c that requires a code change. I'll ask around.

[2018-10-23 17:15] pmac commented on #3383
The issue was that Firefox OS was removed from "English" in the "AAQ enabled locales" model. I added it back and all seems well. It seems this was done because there is a desire to remove FxOS from SUMO, but that will require a code change to be done properly. I expect a bug or issue for that soon. Thanks for reporting Ben!

[2018-10-23 17:15] #3383 closed

[2018-10-23 17:46] pmac opened #3384 "Remove Firefox OS from AAQ"
See #3383

[2018-10-23 19:33] pmac commented on #3380
We updated the bower version, but it was then failing to build the prod images due to an outdated `yarn.lock` file. It turns out the root cause of this was that the dev image was still installing Node 0.10 while prod had moved to Node 6.x and Yarn. I've filed #3386 to fix this and update the readme file to use yarn instead of npm.

[2018-10-24 15:10] #3371 closed

[2018-10-25 03:33] pmac commented on #3305
I actually think we addressed this issue via another root cause in #3373. I believe that the data we saw pointing us to the auth view turned out not to be the issue after all. Closing this one.

[2018-10-25 03:33] #3305 closed

[2018-10-25 21:33] turtlelovesshoes opened #3388 "[Outreachy A/B testing] Enabling Optimize for Kitsune"
Hey there,
Moving teams, looks like the tool used for A/B tests that may be needed for the OKRs on 2019 is Optimizely or Optimize.

Looks like we need to use GA to initiate Optimize - is this possible? https://support.google.com/optimize/answer/6262084

@bensternthal @pmac @vesper-mozilla

[2018-10-25 22:15] bensternthal commented on #3388
Rachel:

Can you provide a link to or paste the A/B testing requirements here. With this information we can better advise on which A/B testing solution to implement.

[2018-10-26 16:27] pmac opened #3389 "Add error handling to slack notifications in deployment"
They're in bash scripts with `-e` mode, so we just need to add `|| true` to the end of the commands mostly.

[2018-10-26 19:13] #3389 closed

[2018-10-26 20:51] navgurukul-shivani18 commented on #3283
Hi @michaelmccombie I would like to work on it as my first bug , can you guide me please how to proceed?

Thanks

[2018-10-26 22:53] michaelmccombie commented on #3283
@navgurukul-shivani18 I'm glad you are interested in helping! But I'm going to close this issue because the team that works on Firefox Rocket decided to go in a different direction with the name/ logo.

[2018-10-26 22:53] #3283 closed

[2018-10-27 13:42] navgurukul-shivani18 commented on #3335
Hi @LunarTwilight ,
I wasn't able to re-create this bug on FF Version 64.0b1 (64-bit)
But, was successful in re-creating on Google Chrome Version 72.0.3590.0 (Official Build) dev (64-bit)
I'll try to send a PR soon to fix this :)
Thanks

[2018-10-27 18:19] LucianaMarques commented on #3388
Hey @turtlelovesshoes and @bensternthal !

I'd like to give this a try. Just to make sure, no one is already working on this right?

[2018-10-28 08:54] navgurukul-shivani18 commented on #3282
Hi @sgarrity I would like to work on it can you help me getting issues and also please can your provide some more context about it . Its little unclear to me right now.
cc @turtlelovesshoes

[2018-10-28 19:17] LucianaMarques commented on #3332
Hi there,

Is anyone working on this? I'd like to give this a try!

Thank you!

[2018-10-29 14:34] glogiotatidis opened #3393 "Upgrade to new Sentry SDK"
Sentry dropped raven package in favor of a new unified SDK.

 - New Package: https://github.com/getsentry/sentry-python
 - Docs: https://docs.sentry.io/quickstart/?platform=python

While I couldn't find a deprecation schedule, please plan to upgrade to the new SDK in the near future to avoid incompatibility issues with the server.

[2018-10-29 18:35] turtlelovesshoes commented on #3332
@LucianaMarques please feel free to make a pull request on this issue, feel free to ask any questions here or on #sumo-dev IRC channel.

[2018-10-29 19:10] pmac commented on #3332
IRC channel is `#sumodev` on the `irc.mozilla.org` network. See [the wiki](https://wiki.mozilla.org/IRC) for details.

[2018-10-30 00:17] LucianaMarques commented on #3332
Thank you! Will do!

[2018-10-30 00:41] vaishnavipamulapati commented on #3332
@LucianaMarques I've started work on this after discussion on the `#sumo` channel last week.

[2018-10-30 00:53] LucianaMarques commented on #3332
@vaishnavipamulapati I'm an Outreachy applicant and I just heard about this program (like some days ago) and found this issue. I have to submit a pull request until tomorrow to be eligible to apply for this project.

Do you mind to work together on this? I have to submit a PR today and I don't know if I'll find another issue on time. Since I wasn't aware of this project a couple of days ago, I was

[2018-10-30 01:04] vaishnavipamulapati commented on #3332
@LucianaMarques Sure, I'll push my changes shortly so we can discuss what to do further.

[2018-10-30 01:17] LucianaMarques commented on #3332
@vaishnavipamulapati thank you so much! Let me know here when you push them and I'll take a look! I'm in #sumo now as lucianamarques, we can chat over there if you want

[2018-10-30 01:44] LucianaMarques commented on #3330
Hi! I just submitted a [pull request](https://github.com/mozilla/kitsune/pull/3395l)!

[2018-10-30 12:07] navgurukul-shivani18 commented on #3354
Hi , I would love to work on it , @jpetto can you guide me how to go ahead with it ?

Thanks

[2018-10-30 21:42] jpetto commented on #3354
Hi @navgurukul-shivani18! There is a pull request opened already (#3357, linked above), but we are awaiting feedback from the stakeholder. If changes are requested and you'd like to take over the branch, you are more than welcome!

Please watch the thread on the pull request for more information.

Thanks again!

[2018-10-31 18:29] #3384 closed

[2018-10-31 19:15] TonnesM opened #3398 "Some products.Topic.description strings include trailing periods, most do not"
As the title says, recently a few new UI strings for Sumo landed that used trailing periods (for instance [ this one](https://pontoon.mozilla.org/nl/sumo/LC_MESSAGES/django.po/?time=201809271301-201810171109&string=191427)) whereas most others don’t have any. I think these always involve [_products.Topic.description_](https://pontoon.mozilla.org/nl/sumo/LC_MESSAGES/django.po/?search=products.Topic

[2018-11-05 16:08] #3393 closed

[2018-11-05 16:26] #3348 closed, assigned to jpetto

[2018-11-05 18:47] jonichan opened #3402 "H2 headers have lost formatting in KB articles"
We use H1 and H2 headers in KB articles to make sections easier to read. The H2 headers now look like the rest of the body text, so it's hard to tell that it's actually a header. Please make them stand out (bold and larger than the body text, but not as large as the H1 headers).

Example articles:
- https://support.mozilla.org/en-US/kb/mixed-content-blocking-firefox#w_how-can-i-tell-if-a-page-has-

[2018-11-06 09:47] omkar-dsd opened #3412 "Fix: Timezone sync in accordance to Django's Timezone settings"
All the project level timezones should be in sync with the Timezone configuration defined in Django's settings. This allows to take control of datetime at a single place.

[2018-11-06 10:40] omkar-dsd commented on #3380
@pmac Closing this. Taken on #3386 .

[2018-11-06 10:40] #3380 closed

[2018-11-07 21:04] jgmize commented on #3294
required for https://github.com/mozilla/kitsune/issues/2990 also

[2018-11-08 18:07] pmac commented on #3398
I did some looking and there are 51 of 192 topic descriptions that end in a period. Should these all be changed to remove the period? Perhaps Madalina or Patrick have an opinion. I'll find and ask them.

[2018-11-15 19:10] TonnesM commented on #3398
If it helps: I’d say all of them would need to get rid of the period, except for ones that can be considered as 1 or 2 sentences, such as "New to Pocket? Start here." That goes for both products.Product.description (1) and products.Topic.description (51).

In addition: when a period is included and besides the inconsistent looks, some localizers may assume a string to be imperative (=instructive)

[2018-11-16 01:12] jonichan opened #3418 ""Share this article" no longer shows up on articles"
**Expected result:** When I used to write an article, a shortlink automatically gets generated and shows up at the bottom of the page: example:https://support.mozilla.org/en-US/kb/update-latest-version-firefox-android) [screenshot](https://screenshots.firefox.com/FpR6sHDz1oTD8Oii/support.mozilla.org)

**Actual result:** "Share this article: ______" shortlinks no longer show up.
Examples:
- https:/

[2018-11-17 17:00] Cyemka opened #3420 "![fb_img_15340212326133190](https://user-images.githubusercontent.com/31747611/48663575-e739fb00-ea9a-11e8-8609-5a95b310a7e6.jpg)"
_Originally posted by @Cyemka in https://github.com/mozilla/kitsune/commit_comment/create#commitcomment-31337778_

[2018-11-17 18:13] #3420 closed

[2018-11-19 20:50] jgmize opened #3423 "Optimize questions_list view"
We had an outage this weekend related to slow DB performance, and the culprit this time appears to have been the questions_list view, which can generate very expensive queries under certain circumstances.

https://rpm.newrelic.com/accounts/1299394/applications/45097089/datastores#/overview/MySQL/trace/?id=3f10c9b5-ea8c-11e8-be82-0242ac110007_0_4094&metric=Datastore%252Fstatement%252FMySQL%252Fques

[2018-11-23 18:40] safwanrahman commented on #3423
@jgmize I was thinking about using elasticsearch to generate the `question_list` view. But we are blocked by elasticsearch upgrade actually. What do you think? We should try to optimize it by optimizing the sql queries?

[2018-11-27 06:00] jgmize commented on #3423
@safwanrahman I think we should try optimizing the existing view before we try to rewrite it against a different engine. A couple of suggestions from the link above:

This indicates to me that we should re-evaluate our usage of `tags__name__in` https://github.com/mozilla/kitsune/blob/master/kitsune/questions/views.py#L195 and https://github.com/mozilla/kitsune/blob/master/kitsune/questions/views.p

[2018-11-28 17:05] metadave opened #3425 "[prod] SUMO Reload Question Traffic Stats cron fails to finish running"
- [log output](https://gist.githubusercontent.com/metadave/2c36a482239e27d9f1dc5c1137df50be/raw/96f17d2dbe4b37202988af634d5710e01462c137/gistfile1.txt)

- https://github.com/mozilla/kitsune/blob/master/kitsune/sumo/googleanalytics.py#L229

[2018-11-28 17:14] pmac commented on #3425
I'm guessing GA access change or other credentials problem. Investigating.

[2018-11-28 17:15] pmac commented on #3425
Should also investigate if we use this data/feature anymore.

[2018-11-30 21:18] rtanglao commented on #3332
i would love to test this if somebody would let me know where the staging environment is!

[2018-12-07 19:27] Songbird0 opened #3430 "No email confirmation?"
Hi,

[This issue](https://github.com/mozilla/kitsune/issues/3128) seems to be already filed but it didn't work for me. After many resend, the email confirmation doesn't appear inside of my box (neither as spam).

Anyone have an idea?

[2018-12-20 21:30] pmac opened #3432 "Elasticsearch search terms for FF 62 and 63 Desktop 1st 3 weeks"
I received the following from @rtanglao:

I've talked with some people and we're not sure yet whether our ES servers keep this kind of information. But we may be able to gather it either from our server logs of accessed URLs or from GA if that kind of thing is tracked there. I'll update here when I find out more.

/cc @metadave

[2018-12-23 17:00] #3154 closed

[2018-12-25 16:56] SukhnandanMalhotra commented on #3412
Hey,  I'd like to work on this, can I take this up?

[2018-12-26 15:49] pmac commented on #3412
Hi @SukhnandanMalhotra. Thanks for your interest, but @omkar-dsd has already submitted a pull-request (#3403) for this.

[2018-12-26 22:35] jonichan opened #3433 "Please make the "These fine people helped write this article" smaller"
At the bottom of each SUMO article is "These fine people helped write this article." The font has gotten huge compared to the rest of the page and is the same size as the article title:

https://screenshots.firefox.com/wVlrTcJJWhTKLeX4/support.mozilla.org

It should be smaller and more muted so it doesn't clash with the rest of the article.

[2018-12-27 18:19] pmac opened #3434 "Automate l10n linting and pushing to prod l10n repo during deployment"
We currently do this manually, but it should happen on every push to master before the prod images are built.

[2019-01-02 15:48] metadave commented on #3433
@SukhnandanMalhotra sure!

[2019-01-02 17:11] #3434 closed

[2019-01-03 16:33] pmac opened #3436 "Auto-detect Firefox Lite on mobile AAQ start page"
See https://github.com/mozilla-tw/Rocket/issues/3004 for all of the details.

Basically the mobile version of https://support.mozilla.org/questions/new does some auto-detection to highlight a best-guess of the product in use at the time. We should auto-select Firefox Lite when viewed from Lite.

[2019-01-08 12:17] PrernaVerma commented on #3433
@metadave  Hey , I have tried solving this issue and submitted a Pull Request.Please review. :)

[2019-01-09 09:29] atulsuresh opened #3441 "New volunteers signup UX and design tweaks"
I feel it's a bit difficult for a first-time volunteer to find the signup button.
[https://support.mozilla.org/en-US/get-involved/questions](https://support.mozilla.org/en-US/get-involved/questions
)

My suggestion would be to place the signup button just after the hero text and also make sure the alignment and spacing is correct.

Current Page
<img width="1678" alt="screen shot 2019-01-09 at 2 54

[2019-01-10 18:30] suhailsinghbains commented on #3335
Hi
Is this bug still open, would love to work on this.

[2019-01-16 16:11] #3354 closed

[2019-01-18 16:37] rtanglao commented on #3432
happy new year @pmac ! any update on this appreciated!

[2019-01-22 14:41] vesper-mozilla opened #3447 "CODE_OF_CONDUCT.md is missing"
The new CoC file is a required standard for all of Mozilla's Github repos in 2019. Please add a local version of it to kitsune - thank you!

Example: https://github.com/mozilla/voice-web/blob/master/CODE_OF_CONDUCT.md

[2019-01-22 16:46] metadave commented on #3447
thanks @vesper-mozilla, we'll get this added. Where is the standard for Mozilla's github repos published?

[2019-01-23 16:03] jwhitlock opened #3448 "GitHub repo description links to support.mozilla.com"
The GitHub repo description includes a link to https://support.mozilla.com/. This is a redirect to https://support.mozilla.org. I think the repo description should be changed to link directly to support.mozilla.org.

![kitsune repo](https://user-images.githubusercontent.com/286017/51619437-f05da300-1ef5-11e9-87de-8f48ab187446.png)

[2019-01-23 16:45] metadave commented on #3448
fixed

[2019-01-23 16:45] #3448 closed

[2019-01-23 19:45] metadave commented on #3447
https://github.com/mozilla/kitsune/pull/3449

[2019-01-23 21:10] #3436 closed

[2019-01-30 21:13] alice0775 opened #3452 "When try to input Japanese text using IME, the first character becomes Latin character."
https://bugzilla.mozilla.org/show_bug.cgi?id=1524043

Unable type Japanese text using IME.
Unable to search with Japanese text.

Reproducible: always

Steps To Reproduce:
1. Open https://support.mozilla.org/ja/products/firefox?as=u&utm_source=inproduct
2. Focus search field in the page
3. Turn IME on
4. Try スペル  (press key s u p e r u)

Actual Results:
When first key(s) is pressed, the page will a

[2019-02-05 15:34] pmac opened #3458 "Switch To GitLab for CI/CD"
Currently in progress in #3455

[2019-02-05 19:00] rtanglao commented on #3432
Hi @pmac and @akatsoulas

i) any update?
ii) we'd like this to extend this for the whole year if the data is available:
i.e. january 1, 2018 - december 31, 2018

[2019-02-07 22:21] metadave commented on #3432
@hmitsch is this something that your team could look into?

[2019-02-08 11:13] hmitsch commented on #3432
Hi @rtanglao,

Let me try to play back the question to you to see if we agree on the thing you are looking for:

As we are new to SUMO, here are a few questions:
* This question is about _SUMO Search_, not search engine queries, right?
* Did you look for this type of information in the past? If yes, how did you get them answered?

Best regards,
   Henrik

[2019-02-14 17:38] jpetto commented on #3282
I believe this issue has been fixed.

[2019-02-14 17:38] #3282 closed

[2019-02-14 22:44] jonichan opened #3461 "Change text on product page"
On every product page, this text is currently showing up: "Search and navigate easily with these essential features". This text doesn't make sense on the product page context.

I'd like to replace this text with "Explore the knowledge base". I don't see a way to do it in Django Admin.

Product pages where this appears (Under "Help topics"):
https://support.mozilla.org/en-US/products/firefox
https:

[2019-02-14 23:05] jonisavage opened #3462 "Replace existing AAQ categories with the following"
We've changed the categories for Firefox for Enterprise. Please remove the existing categories and add the following (these are already set up in https://support.mozilla.org/admin/products/topic/?product__id__exact=18):

- **Deploy**: https://support.mozilla.org/admin/products/topic/210/?_changelist_filters=product__id__exact%3D18

- **Manage updates, policies and customization** : https://support

[2019-02-18 12:30] havardl commented on #3432
Hi @hmitsch,

I'm working with @rtanglao on this. I can't speak to if he's looked for this before, but we're interested in historical data of the specific search engine queries used at https://support.mozilla.org/

Best,
Håvard

[2019-02-19 13:29] nukeador opened #3464 "Improve wikimetrics admin filters"
In order to get accurate community stats I would need a few new filters to be added to the wikimetrics admin section

https://github.com/mozilla/kitsune/blob/master/kitsune/dashboards/admin.py

- Show the locale codes in a new column (since translated names are impossible for me to follow)
- Filter by top 50 localized (not just top 20 and top 100)
- Be able to filter by date (today stats is the mo

[2019-02-19 13:31] nukeador opened #3465 "Top contributors page with internal server error"
I found there is a page that generates a nice json with all data about contributors activity

https://github.com/mozilla/kitsune/blob/master/kitsune/community/views.py#L185

But the public page is giving Internal Server Error:

https://support.mozilla.org/community/top-contributors/l10n/new

Is it possible to know the full error for this page? It seems the code should be functional and having this

[2019-02-19 19:09] rtanglao commented on #3432
@hmitsch:

1. SUMO search, not search engine queries, i.e. when folks visit support.mozilla.org what search terms did users enter?
2. We did not look at this information in the past as far as I know

[2019-02-19 21:42] hmitsch commented on #3432
Problem solved!

Unsurprisingly, @pmac was right: SUMO Search queries are sent as **Events** to Google Analytics (of course, honoring the browser's DNT policy setting):

<img width="295" alt="image" src="https://user-images.githubusercontent.com/869692/53048449-13e42100-3495-11e9-926a-418c790dce92.png">

In Google Analytics, this can be accessed via `Behaviour > Events`:
* Event Category: `Instant

[2019-02-19 21:42] #3432 closed

[2019-02-20 01:29] bensternthal opened #3467 "Docker Install Error: Failed Migration"
Running the docker install from scratch it completes but i see this error when looking at http://0.0.0.0:8000/en-US/:

[code]

Looking at the install log it looks to be a failing migration.

[code]

Re-running the install or running manage migrate or syncdb using docker exec results in same error. Full trace is below:

[code]

[2019-02-20 04:02] pmac commented on #3467
Interesting. I'm assuming  you've run this all before? The volume in the docker-compose.yml file means that the DB will be persistent, so it may well have gotten into a strange state. Would probably be better to start fresh unless there's a good reason to keep your existing local db.

If you'd like to start fresh you should be able to run the following command:

[code]

[2019-02-20 05:04] pmac opened #3468 "Sentry error reporting is not working"
Possibly related to #3394. We should investigate why no errors are being reported to sentry from sumo prod.

[2019-02-20 15:44] bensternthal commented on #3467
I tried that yesterday. Stopping all containers, rm-ing and starting again. Same error.  Tried again this morning _just in case_ and same error.

[2019-02-20 17:02] pmac commented on #3467
I just tried this, and it failed to remove that volume until I removed the containers. Here's what I did to get the site running from scratch:

[code]

That resulted in a functional (but empty) site. LMK how that goes.

[2019-02-20 17:16] bensternthal commented on #3467
ah ok this worked.

I was deleting the containers and not the volume. And when I read your comment.. i totally missed you were deleting the volume and just repeated the same mistake.

![qhcmv0z](https://user-images.githubusercontent.com/198507/53110607-293a6900-34f0-11e9-882d-882fc54ca779.jpg)

[2019-02-20 17:16] #3467 closed

[2019-02-21 17:54] pierreneter commented on #3326
Is there any progress?

[2019-02-21 20:30] elhoyos opened #3473 "Access to django-waffle data"
This is a kind request for a good cause as suggested by @pmac.

As a joint effort between Universidad Nacional de Colombia and Concordia University we're researching feature toggles in some projects using django-waffle, including kitsune.

Our next step is to spot dead code related to the toggles, but a static code analysis is not going to help without the toggles' declarations and their state (ak

[2019-02-22 20:06] metadave commented on #3473
cc @hmitsch

[2019-02-25 07:01] rtanglao opened #3475 "Document the undocumented Kitsune REST APIs on readthedocs"
**tl;dr Assuming we keep the APIs, it would be nice to document the undocumented REST APIs and their limitations  on readthedocs. Would this be a suitable project for a contributor?**

@akatsoulas @ophie200 @havardl I'm unencumbered by DJANGO and API knowledge :-) so please chime in if I've missed anything.

## Full Details:

1. Kitsune has many REST APIs but only the locales and search suggest AP

[2019-02-25 11:45] hmitsch commented on #3473
Hi @elhoyos,

Is there a website hosting a project description? Which other open source repos are you evaluating for the research? From your Github profile it looks like the only such issue you filed is with this kitsune repo.

Best regards,
   Henrik

[2019-02-25 16:24] elhoyos commented on #3473
Hello @hmitsch!

No website at this moment, the project is in an initial state and is a follow up of an initial study in which we extracted the "toggle components" of all the history of a set of repositories and analyzed their lifecycle.

I've also invited other projects like:
* https://github.com/mozilla/bedrock (@pmac)
* https://github.com/mozilla-services/socorro (@willkg)
* https://github.com/

[2019-02-25 16:39] elhoyos commented on #3473
BTW, I'm also available in irc.mozilla.org with this same handler.

[2019-02-25 17:36] ophie200 commented on #3475
I think this would be a great contributor project. SurveyGizmo does a great job of documenting their [API](https://apihelp.surveygizmo.com/help) if you want a template suggestion. I don't think the Kitsune APIs are going anywhere and will probably continue to be improved so having front-end documentation is useful - so we don't have to back out REST APIs from the django code ;)

[2019-02-26 00:26] elhoyos commented on #3473
Rethinking this. We're not after hiding anything. So, feel free to shoot any question here.

I wonder what would make you feel comfortable to contribute to this endeavor.

[2019-02-26 14:55] hmitsch commented on #3473
Hi @elhoyos,

thanks for following up so quickly. Did you file Github or Bugzilla issues for the bedrock and socorro repos? If yes, can you link them here?

Best regards,
   Henrik

[2019-02-26 15:48] elhoyos commented on #3473
Nope, we never got to that point in the initial conversations with @pmac & @willkg because I got the data I needed: bedrock & socorro do not have records in the waffle tables. This situation confirms what we see in our static analysis of the toggles' lifecycle for both projects.

We could still look-up for related dead code, but @willkg helped me realize a smarter tool would be needed given no waf

[2019-03-05 12:38] akatsoulas opened #3481 "Enhance filtering on Questions API"
Allow filtering on `updated` and `created` fields on Question and Answer models.

[2019-03-06 08:33] akatsoulas commented on #3481
Fixed in #3483

[2019-03-07 11:06] nukeador opened #3484 "Expose translated locales on KB API"
Hi,

In order to run some manual stats on different articles, I would need the KB API to expose the locale codes (not translated names) an article has been translated into.

Info that kitsune provides here:

https://support.mozilla.org/en-US/kb/push-notifications-firefox/show_translations

API: https://support.mozilla.org/api/1/kb/push-notifications-firefox

Note: I don't really know what do we co

[2019-03-08 15:20] pmac commented on #3461
I'm reviewing #3488 and just wanted you to be aware that "Explore the knowledge base." is not currently a translated string that we have, so it would be in English until it was translated widely. We do have "Explore more topics" in the current translations, but I don't know if that would work.

I'm happy to merge this change to be clear, just wanted you to be aware of the options and results.

[2019-03-08 17:42] alexgibson opened #3490 "Implement a lightweight survey banner"
The current survey on the SUMO homepage looks like a pretty lightweight thing to show users:

![screenshot_2019-03-08 mozilla support](https://user-images.githubusercontent.com/400117/54044983-434e9980-41c8-11e9-861b-1f6eec679e09.png)

Taking a look under the hood, this banner weighs in over 425Kb, makes 7 requests, and seems to include over 300Kb of JavaScript as well as a custom google-hosted fo

[2019-03-08 17:46] pmac commented on #3490
I'll add that it's very annoying UX-wise since it doesn't go away when one hits the <ESC> key.

[2019-03-08 19:56] akatsoulas commented on #3461
@jonisavage thoughts on this?

[2019-03-11 15:45] jonisavage commented on #3461
Let's go ahead and merge the change. We'll notify the L10N community so they can localize that string after the change is complete.

[2019-03-11 17:09] nukeador opened #3491 "Private messages to multiple people result into server error"
I can't send private messages to multiple people at once (I tried reducing my list and still getting error for 7 people)

[2019-03-11 17:52] metadave commented on #3260
[code]

[2019-03-11 19:44] nukeador opened #3492 "Check that user groups over admin are actually working"
I want to make sure the users groups you can filter by here:

https://support.mozilla.org/admin/auth/user/

Are actually working, since I see some people listed in the SUMO locale leaders

https://support.mozilla.org/admin/auth/user/?groups__id__exact=69

That are not locale leaders over kitsune

https://support.mozilla.org/admin/auth/user/1157/?_changelist_filters=groups__id__exact%3D69
https://s

[2019-03-12 18:16] nukeador commented on #3484
My user case:

As a CM I want to be able to query individual articles to see which locales have already been translated, this will allow me to understand where to focus my time supporting communities.

I'll be using this script to extract the information I don't have to manually do it

https://github.com/nukeador/sumo-stats/

[2019-03-12 18:17] nukeador commented on #3491
My user case:

As a CM I need to contact all active SUMO contributors to let them know about new articles each release.

Context: I don't have access to emails and it's heavily time-consuming to send individual PM to almost 200 people.

[2019-03-14 11:36] akatsoulas opened #3495 "Do not cache the ux experiments."
Fixed in #3494 #3489

[2019-03-15 09:33] #3481 closed

[2019-03-15 09:34] #3495 closed

[2019-03-15 09:34] #3462 closed

[2019-03-15 09:35] akatsoulas commented on #3468
Closing this. I will open a new issue on how to improve sentry logging so that it won't cause high IO.

[2019-03-15 09:35] #3468 closed

[2019-03-15 14:08] jonichan opened #3498 "Need ability to re-tag support forum questions for removed tags"
Some support forum articles have tags/topics that are no longer in the AAQ. I'd like to re-tag or move these questions so I can delete the obsolete AAQ topics/tags and make those questions visible in the AAQ forum again.

[2019-03-15 19:29] metadave opened #3499 "Implement banner below navigation"
https://bugzilla.mozilla.org/show_bug.cgi?id=1535689

[2019-03-18 13:51] akatsoulas opened #3500 "[FxA] Enable login with Firefox Accounts."

[2019-03-20 20:04] metadave opened #3504 "banner shows as empty blue box in Firefox iOS, Chrome + Safari"
https://github.com/mozilla/kitsune/pull/3501

[2019-03-20 20:04] metadave commented on #3504
reported in https://bugzilla.mozilla.org/show_bug.cgi?id=1535689#c10

[2019-03-20 20:08] pmac commented on #3504
I think the JS isn't firing or isn't working. I see no JS errors, but if I manually add "chosen" and "visible" classes to one of the entries it looks right.

[2019-03-20 20:15] pmac commented on #3504
So yeah... I forgot. This is by design as requested in the [original bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1535689). I think we should just hide the blue bar for non-Fx as well.

[2019-03-20 20:16] pmac commented on #3504
I'll work on that

[2019-03-20 20:44] #3504 closed

[2019-03-21 15:34] jgmize opened #3506 "Modify bin/run-post-deploy.sh to only run in specific cluster"
[run-post-deploy.sh](https://github.com/mozilla/kitsune/blob/master/bin/run-post-deploy.sh) currently checks a `READ_ONLY` environment variable before calling `manage.py migrate`. We could check for a new environment variable that is explicitly set in one cluster only (for example: oregon-a) so that when a new deployment  happens in the other cluster (oregon-b in this example) the migrations are n

[2019-03-26 13:31] akatsoulas opened #3508 "[FxA] Create new users through Firefox Accounts."

[2019-03-26 13:33] akatsoulas opened #3509 "[FxA] Link local users with same email to Firefox Accounts auth flow."

[2019-03-26 13:33] akatsoulas opened #3510 "[FxA] Disable username/password login for users with a Firefox Account."

[2019-03-26 13:37] akatsoulas opened #3511 "Implement Content Security Policy (CSP) for SUMO"

[2019-03-26 14:50] #3304 closed

[2019-03-26 15:25] rtanglao opened #3512 "Add new products to AAQ without python code changes"
Currently, adding new products to the AAQ (e.g. Firefox Reality for Desktop, Firefox Lockbox for Android, etc) requires python code changes (unlike adding new products to the SUMO KB which doesn't require python code changes).

Given the fact that we will be adding lots of new products to the AAQ, it would be really nice to be able to do this without python code changes.

[2019-03-26 16:11] akatsoulas commented on #3512
Let's use this issue to scope the effort in order to expose this functionality to the admin interface.

[2019-03-26 16:32] akatsoulas opened #3513 "Restore selenium tests in the project."

[2019-03-26 16:41] jgmize commented on #3513
There are some values in [tests/Jenkinsfile](https://github.com/mozilla/kitsune/blob/master/tests/Jenkinsfile) that will need to be replaced to ensure that no [erroneus emails](https://github.com/mozilla/kitsune/blob/master/tests/Jenkinsfile#L145-L148) get sent.

[2019-03-26 17:30] akatsoulas opened #3514 "Legacy Firefox OS pages with no content still show up in SuMo and rank for search queries."
https://bugzilla.mozilla.org/show_bug.cgi?id=1539200

[2019-03-26 19:15] pmac opened #3515 "Django 1.11 Update Fixes"
Hi @smileychris! After #3480 merged and was deployed we noticed a few things and I wanted to record them here.

* We see that scheduled tasks that use `django-cronjobs` all seem to be failing with the following message: `manage.py cron: error: unrecognized arguments: enqueue_lag_monitor_task`
* I saw hundreds of these warnings in the logs during the migrations run of deployment: `(urls.W002) Your

[2019-03-27 08:14] akatsoulas commented on #3513
cc @viorelaioia @rleitan

[2019-03-27 20:05] #3425 closed

[2019-03-28 03:35] Mozilla-GitHub-Standards opened #3516 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-28 15:57] #3506 closed

[2019-03-28 16:01] pmac commented on #3516
The CoC text looks identical to me apart from the optional commented out etiquette part. I think we're good here. Thanks for filing!

[2019-03-28 16:01] #3516 closed

[2019-03-28 17:21] jonisavage opened #3518 "[Feature request]Automatically mark articles as "expired" 8 months after last update"
We have a feature that allows us to set an expiration date for articles in the authoring interface. When an article is expired, it shows up in the knowledge base dashboard (https://support.mozilla.org/en-US/contributors).

I'd like any article to be "expired" if it hasn't been updated in 8 months so we know to look at it and review it. This expiration status shouldn't be visible on the article pag

[2019-03-29 02:52] hwine commented on #3516
It is now ;) the file got updated, but the bug not closed, in 4b141f98ab6bdc87f98b8a8033045c9e6b98582c

[2019-03-29 09:26] akatsoulas opened #3519 "Upgrade Celery to version 4+"

[2019-04-02 20:54] nukeador commented on #3491
Hello again,

I was trying to send an important communication to 10 people but again I got the same error. I don't really know if the message was sent or not.

Cheers.

[2019-04-03 12:55] metadave commented on #3491
cc @akatsoulas

[2019-04-03 15:53] akatsoulas commented on #3491
Thanks @metadave for the ping. We are already discussing this bug with @nukeador.
I spend some time investigating this and it's reproducible only when the sender is using markdown syntax in the body of the message. The message *is sent* but the server returns a 500 error. I will update this issue with more info if I find anything more.

[2019-04-03 16:01] akatsoulas commented on #3491
The message is sent in the sumo inbox of all the recipients. It looks like the email notification only reaches the first user and then the 500error is produced.

[2019-04-08 13:21] nukeador opened #3521 "Highlight "Localize this page" link when visiting a non-localized page"
Let's say I access the following page in Spanish:

https://activate.mozilla.community/es/commonvoice

And the content is not localized (so I get the English text).

We should show front and center a link to the pontoon project in that locale to localize the site.